// Import var
@import "vars/vars";
// Import helpers
@import "helpers/bem";
@import "helpers/functions";
@import "helpers/helpers";
@import "helpers/include-media";
@import "helpers/mixins";
@import "helpers/variables";
// Import font
@import "fonts/Mulish";
@import "fonts/BeVietNamPro";
// Import base
@import "base/reset";
@import "base/setting";
@import "base/typography";
@import "layout/grid";
// Import components
@import "components/animation";
@import "components/icon";
@import "components/buttons";
@import "components/carousel";
@import "components/dropdown";
@import "components/form";
@import "components/navigation";
@import "components/tab";
@import "components/pagination";
@import "components/checkbox";
@import "components/card__w";
@import "components/table";
//@import "components/car";
// Import layout
@import "layout/header";
@import "layout/spacing";
@import "layout/sidebar";
@import "layout/ticket";
@import "layout/auth";
@import "layout/template";
// Import pages
@import "pages/login";
@import "pages/404";
@import "pages/help";
// Import sections
@import "sections/pages";
@import "sections/order.scss";
@import "sections/analytics.scss";
@import "sections/setting.scss";
@import "sections/edit_pages";
@import "sections/claim";
@import "sections/claim_detail";
@import "sections/home.scss";
@import "sections/vue-tour.css";
@import "sections/packagedetail.scss";
@import "sections/package.scss";
@import "sections/list_package.scss";
@import "sections/bill.scss";
@import "sections/wallet.scss";
@import "sections/tracking";
@import "sections/notification";
@import "sections/map_point.scss";
@import "sections/product.scss";
// Import themes
// Import vendors