//
// Basic Bootstrap table
//
.table {
    margin-top: 10px;
    width: 100%;
    background-color: transparent; // Reset for nesting within parents with `background-color`.
    border-collapse: separate;
    th,
    td {
        position: relative;
        color: #37393E;
        padding: 0;
        vertical-align: middle;
    }
    thead th {
        position: relative;
        height: 64px;
        line-height: 160%;
        vertical-align: middle;
        color: #17191D;
        border: none;
    }
    tbody tr td {
        height: 48px !important;
        max-width: 14.641vw;
    }
    tr {
        position: relative;
        cursor: default;
        &.check {
            border-radius: 4px;
            background: rgba(5, 84, 242, 0.04);
            td {
                &:first-child {
                    border-left: 1px solid #DFE3E8;
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }
                &:last-child {
                    border-right: 1px solid #DFE3E8;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }
            }
        }
    }
}

.table-hover tbody tr:hover {
    cursor: pointer;
    background: #F9FDFE;
    border-bottom: 1px solid white !important;
    label::before {
        border: 2px solid #626363;
    }
}

.table-hover tbody tr.hover {
    cursor: pointer;
    background: #E8FFFE;
    border-bottom: 1px solid white !important;
    label::before {
        border: 2px solid #626363;
    }
}

.table thead th {
    padding: 0 5px;
}

.table tbody tr td {
    padding: 0 5px;
}