.p-notices {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
  pointer-events: none;
  height: 56px;
  .p-toast {
    display: inline-flex;
    animation-duration: $speed-slow;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    padding: 18px;
    pointer-events: auto;
    width: 100%;
    color: white;
    &.is-dark {
      background-color: $grey-darker;
    }
    &.is-default {
      background-color: #e4eaec;
      color: #76838f;
    }
    &.is-primary {
      background-color: #3F51B5;
    }
    &.is-success {
      background-color: #48BE78;
      color: white;
    }

    &.is-danger {
      background-color: #F5222D;
      color: white

    }

    &.is-info {
      background-color: #0bb2d4;
    }

    &.is-warning {
      background-color: #eb6709;
    }

    // Modifiers
    &.is-top,
    &.is-bottom {
      align-self: center;
    }
    &.is-top-right,
    &.is-bottom-right {
      align-self: flex-end;
    }
    &.is-top-left,
    &.is-bottom-left {
      align-self: flex-start;
    }
    &.is-toast {
      opacity: 0.92;
    }
  }

  .close-icon {
      position: absolute;
      right: 46px;
      font-size: 24px;
      cursor: pointer;
  }

  // Modifiers
  &.is-top {
    flex-direction: column;
  }
  &.is-bottom {
    flex-direction: column-reverse;
  }
  &.has-custom-container {
    position: absolute;
  }

  @include mobile {
    padding: 0;
    position: fixed !important;
  }
}
