:root {
  font-size: 10px;
}

body {
  color: $color-text-normal;
  font-family: $font-family-sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.5;
  background-color: #fff;
  
  @media (max-width: 767px) {
    line-height: 1.3;
  }
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: 500;
  line-height: 1.3;
  color: $color-text-bold;
  margin: 0 0 1.5rem;
  font-family: $font-family-sans-serif;
}

p {
  margin: 0 0 1.2rem;
}

a {
  color: #0554F2;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

a:hover, a:focus, input:focus, textarea:focus, button:focus, select:focus {
  outline: none !important;
}

strong, b, .text-bold, th, dt {
  font-weight: 700;
}

em, i {
  font-style: italic;
}

.z_11 {
  font-size: 1.1rem;
}
.z_12 {
  font-size: 1.2rem;
}
.z_13 {
  font-size: 1.3rem;
}
.z_14 {
  font-size: 1.4rem;
}
.z_15 {
  font-size: 1.5rem;
}
.z_16 {
  font-size: 1.6rem;
}
.z_18 {
  font-size: 1.8rem;
}
.z_20 {
  font-size: 2rem;
}
.z_22 {
  font-size: 2.2rem;
}
.z_24 {
  font-size: 2.4rem;
}
.z_28 {
  font-size: 2.8rem;
}
.c0 {color: #000}
.c2 {color:#e2490b}
.c3 {color:#ff6600}
.c6 {color:#666}

.header-2 {
  font-size: 28px;
  font-weight: $font-weight-bold;
  color: $color-neutral-10;
}
.font-weight-600 {
  font-weight: $font-weight-600;
}
.color-newtral-10{
  color: $color-neutral-10;
}