.btn {
  @include transition(all 0.2s);
  display: inline-block;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none !important;
  outline: none;
  font-weight: $font-weight-bold;
  border-radius: 12px;
  padding: 8px 20px;
  height: 40px;
  font-size: 14px;

  &:disabled, &.disabled {
    background: #DFE3E8;
    color: #B0B3B9;
    box-shadow: none;
    pointer-events: none;
  }
  &-lg {
    font-size: 16px;
    height: 48px;
    padding: 12px 24px;
  }
  &-special {
    width: 100%;
    height: 48px;
    font-size: 16px;
  }
}
.btn-default {
  font-weight: 600;
  background: #FFFFFF;
  color: #37393E;
  border: 1px solid #37393E;
  &:disabled {
    background: #FFFFFF!important;
    border: 1px solid #B0B3B9;
    box-sizing: border-box;
    border-radius: 4px;
  }
}
.btn-primary {
  background: $color-java-blue-6;
  &:hover {
    background-color: $color-java-blue-5;
  }
}

.btn-pure {
  &,
  &:hover,
  &:focus,
  &:active,
  &.active,
  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active,
  .open > &.dropdown-toggle,
  .show > &.dropdown-toggle,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;

    &:hover, &:focus, &.focus {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      color: #686B70;
    }
  }
  font-size: 14px;
  line-height: 160%;
  color: #686B70;
  font-weight: 500;
  .icon {
    margin-right: 10px;
    font-size: 12px;
  }
  a { 
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #686B70;
  }
}

.btn-danger {
  background: #DB1802;
}
.p-button.btn-loading::after{
  border: 2px solid white;
  border-right-color: transparent;
  border-top-color: transparent;
}