.btn {
    @include transition(all 0.2s);
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
    text-decoration: none !important;
    outline: none;
    font-weight: $font-weight-bold;
    border-radius: 8px;
    padding: 8px 20px;
    height: 44px;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    align-items: center;
    &:disabled,
    &.disabled {
        background: #DFE3E8;
        color: #B0B3B9;
        box-shadow: none;
        pointer-events: none;
    }
    &-lg {
        font-size: 16px;
        height: 48px;
        padding: 12px 24px;
    }
    &-special {
        width: 100%;
        height: 48px;
        font-size: 16px;
    }
    img, svg{
        margin:0 5px 3px 0
    }
}

.btn-default {
    font-weight: 600;
    background: #FFFFFF;
    font-weight: bold;
    color: #37393E;
    border: 1px solid #E1E2E2;
    &:disabled {
        background: #FFFFFF!important;
        border: 1px solid #B0B3B9;
        box-sizing: border-box;
        border-radius: 4px;
    }
}

.btn-primary {
    background: $color-turquoise-6;
    &:hover {
        background-color: $color-turquoise-7;
    }
    &:focus,
    &:active {
        background: $color-turquoise-4 !important;
    }
    img,svg{
        margin:0 5px 3px 0
    }
}

.btn-pure {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active,
    &:not([disabled]):not(.disabled):active,
    &:not([disabled]):not(.disabled).active,
    .open>&.dropdown-toggle,
    .show>&.dropdown-toggle,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        border-color: transparent;
        box-shadow: none;
        &:hover,
        &:focus,
        &.focus {
            background-color: transparent;
            border-color: transparent;
            box-shadow: none;
            color: #686B70;
        }
    }
    font-size: 14px;
    line-height: 160%;
    color: #686B70;
    font-weight: 500;
    .icon {
        margin-right: 10px;
        font-size: 12px;
    }
    a {
        font-weight: 500;
        font-size: 14px;
        line-height: 160%;
        color: #686B70;
    }
}

.btn-danger {
    background: #FFFFFF;
    border: 1px solid #FFA39E;
    color: #F5222D;
}

.btn-primary-custom {
    background: #FFFFFF;
    border: 1px solid $color-turquoise-4;
    color: $color-turquoise-4 !important;
}

.p-button.btn-loading::after {
    border: 2px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
}
.btn-lb-default{
    border: 1px solid $color-neutral-3;
    height: 44px;
    line-height: 27px;

    &:focus{
            outline: none !important;
            box-shadow: none;
    }


    &:hover {
        border: 1px solid $color-turquoise-3;
        color: $color-turquoise-6;
    }
}

.btn-lb-secondary{
    border: 1px solid transparent;
    height: 44px;
    line-height: 27px;
    background: $color-turquoise-1;
    color: $color-turquoise-6;
    &:focus{
        outline: none !important;
        box-shadow: none;
    }

    &:hover {
        border: 1px solid $color-turquoise-3;
        color: $color-turquoise-6;
    }
}