.site-navbar{
  width: 100%;
  height: 56px ;
  background-color: #FFFFFF;

  .navbar__header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.12), 0px 0.5px 2px rgba(96, 97, 112, 0.26);
    .navbar__header-input input{
      background-color: $color-neutral-1;
      font-size: 14px;
      line-height: 22px;
    }
    .p-input-search{
      border-radius: 40px !important;
    }
    &-left{
      width: 15%;
    }

    &-content{
      width: 85%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 32px;
    }
    &-drop{
      .pointer{
        color: $color-neutral-9;
      }
      img{
        -webkit-transition: -webkit-transform .3s ease-in-out;
        -ms-transition: -ms-transform .3s ease-in-out;
        transition: transform .3s ease-in-out;
      }
      .is-active{
        img:not(.navbar__header-icon){
          transform:rotate(180deg);
        }
      }
      .dropdown-menu{
        width: 187px;
        right: 10px;
        left: unset;
        top: 140%;
        box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
        border-radius: 4px;
        border: none;
        .dropdown-item{
          padding: 10px 14px;
          display: flex;
          align-items: center;
          .nav-item{
            color: $color-neutral-10;
            padding: 0 13px;
            font-size: 14px;
            width: 100%;
          }
        }
      }
    }
    &-input{
      width: 370px;
    }
  }
}

@media(max-width:768px) {
  .navbar-header{
    .navbar-header-left{
      .navbar-logo{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0 !important;
      }
      .hamburger{
        margin-left: 16px;
      }
    }
  }




}
@media(max-width:480px) {
  .navbar-header{
    .navbar-header-left{
      .navbar-logo{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 0 !important;
            .navbar-brand-text{
              display: none !important;
            }
      }
      .hamburger{
        margin-left: 16px;
      }
    }
  }




}