$sidebar-width:120px;
.site-navbar {
    width: calc(100% - #{$sidebar-width});
    height: 56px;
    background-color: #FFFFFF;
    right: 0;
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
    .navbar__header {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        &-left {
            position: relative;
            img {
                position: absolute;
                top: 4px;
            }
            span {
                margin-left: 20px;
                font-size: 14px;
                line-height: 22px;
                color: #313232;
            }
            .link {
                color: #008E89;
            }
            .title{
                color: $color-neutral-10;
                font-weight: 500;
                font-size: 18px;

                svg{
                    margin-bottom: 3px;
                }
            }
        }
        &-right {
            .p-dropdown {
                width: 100%
            }
            .is-active{
                .icon-down{
                    transform: rotate(180deg);
                }
            }
            .pointer {
                display: flex;
                color: $color-neutral-10;
                padding: 4px 10px 4px 4px;
                align-items: center;
                .username {
                    font-weight: 700;
                }
                img {
                    margin-top: 4px;
                    margin-left: 6px;
                }
                .icon-down{
                    transition: .4s;
                }
            }
            .dropdown-menu {
                right: 0px;
                left: unset;
                top: 42px;
                background: #FFFFFF;
                box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
                border-radius: 4px;
                border: none;
                .dropdown-item {
                    padding: 10px 14px;
                    display: flex;
                    align-items: center;
                    .nav-item {
                        color: $color-neutral-10;
                        padding: 0 13px;
                        font-size: 14px;
                        width: 100%;
                    }
                }
            }
        }
        &-input {
            width: 370px;
        }
        &-noti{
            margin-right: 30px;

            .noti__dropdown-icon{
                border-radius: 50%;
                padding: 6px;
                transition: .3s;
            }
            .is-active{
                .noti__dropdown-icon{
                    background-color: $color-neutral-1;
                }
                svg{
                    path{
                        transition: .3s;
                        stroke:$color-neutral-10 ;
                    }
                }

            }


        }
    }
}

.noti__dropdown{
    min-width: 350px;
    position: relative;
    .no-noti{
        font-size: 12px;
        min-height: 300px;
        border-bottom: 1px solid #EAEAEA;
        text-align: center;
        line-height: 300px;
    }
    &-count{
        position: absolute;
        background: #F5222D;
        color: white;
        font-size: 10px;
        font-weight: 600;
        border-radius:20px ;
        padding: 0 5px;
        top: 0;
        left: 80%;
        border: 1px solid white;
    }

    &-header{
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        font-size: 13px;
        border-bottom: 1px solid #EAEAEA;
    }
    &-label{
        color:$color-neutral-9;
        font-weight: 500;
    }
    &-mark{
        color:#004E41;
        cursor: pointer;
    }

    .item-content{
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
    .item-text{
        max-width: max-content;
        white-space: pre-wrap;
        color:$color-neutral-10;
    }
    .item-date{
        color: #B0B3B9;
        font-size: 12px;
        float: left;
    }

    &-item{
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        position: relative;

        &.unread{
            border-left: 2px solid #008A7F;
        }

        &:after{
            content: "";
            height: 1px;
            width: 85%;
            position: absolute;
            background: #EAEAEA;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &:last-child{
            &:after{
                width: 100%;
            }
        }
    }

    &-footer{
        align-items: center;
        justify-content: center;
        width: 100%;
        .view-all{
            padding: 14px 0;

            a{
                color:#17191D;
                font-size: 14px;
                cursor: pointer;
                font-weight: 600;
            }
        }
    }
 .all{
     padding:  0 !important;
 }
    .dropdown-item{
        &:active{
            background-color: unset;
        }
    }
}

@media(max-width:768px) {
    .navbar-header {
        .navbar-header-left {
            .navbar-logo {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                margin: 0 !important;
            }
            .hamburger {
                margin-left: 16px;
            }
        }
    }
}

@media(max-width:480px) {
    .navbar-header {
        .navbar-header-left {
            .navbar-logo {
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                margin: 0 !important;
                .navbar-brand-text {
                    display: none !important;
                }
            }
            .hamburger {
                margin-left: 16px;
            }
        }
    }
}