.pagination-box {
  width: 100%;
  padding: 0px 5px;
  margin-top: 32px;

  @media only screen and (max-width: 680px) {
    .select_limit_box, .text_footer, .pagination {
      width: 100%;
      float: none;
    }
  }

  .select_limit_box {
    width: 33.33%;
    float: left;
    margin-left: 25px;
    span {
      float: left;
      color: $color-neutral-7;
      line-height: 30px;
    }
    .title{
      line-height: 40px;
    }
    .select_limit {
      float: left;
      margin: 0px 8px;
      background: #FFFFFF;
      border: 1px solid $color-neutral-5;
      color: #37393E;
      box-sizing: border-box;
      font-size: 14px;
      line-height: 22.4px;
      width: 53px;
      height: 40px;
      font-weight: 500;
      position: relative;
      border-radius: 8px;
      span {
        color: $color-neutral-9;
        font-weight: 600;
        padding: 4px 0 0 10px;
        &:hover {
          cursor: pointer;
        }

        img{
          float: right;
          margin-top: 6px !important;
        }

        &.icon_select img{
          transform: rotate(-180deg);
          transition: 0.4s;
        }
      }
      ul{
        position: absolute;
        width: 53px;
        border: 1px solid $color-neutral-5;
        margin-top: -99px;
        margin-left: -1px;
        transition: 0.8s;
        background: #FFFFFF;
        li {
          color: $color-neutral-9 !important;
          padding: 5px 0px 5px 10px;
          font-size: 14px;
          font-weight: 400;

          &:hover {
            cursor: pointer;
            background: #F4F5F6;
            color: #37393E;
            font-weight: 500;
          }

          &.selected {
            background: #F4F5F6;
            color: #37393E;
            font-weight: 700;
          }
        }
      }

      //.s_option{
      //  box-sizing: border-box;
      //  background: #FFFFFF;
      //  color: #37393E;
      //  font-size: 15px;
      //  border-color: #37393E !important;
      //  font-weight: 500;
      //
      //  &:checked {
      //    font-weight: 700;
      //    background-color: #F4F5F6;
      //  }
      //  &:hover {
      //    background: white;
      //  }
      //}

    }
  }

  .p-pagination {
    margin: 0;
  }

  .pagination {
    float: right;
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-right: 40px;

    .page-item{
      .page-link{
        border-radius: 4px !important;
        color: #686B70;
      }
    }

    > li {
      margin: 0 2px;
      display: inline;
      font-size: 14px;
      height: 32px;

      > a, > span {
        position: relative;
        float: left;
        padding: 6px 13.5px;
        margin-left: -1px;
        line-height: 26px;
        text-decoration: none;
        background: none;
        border: none;
        font-size: 14px;

        &:hover {
          z-index: 2;
          color: #17191D !important;
          background-color: #DFE3E8;
        }
      }

      &:first-child a {
        width: 100%;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        color: #37393E !important;
        &.disabled {
          color: #B0B3B9 !important;
          cursor: default;

          &:hover {
            background: none;
          }
        }
        i {
          position: absolute;
          top: 50%;
          transform: translate(-50%,-50%);
          font-size: 20px;
          left: 50%;
        }
      }

      &:last-child a  {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        color: #37393E !important;
        &.disabled {
          color: #B0B3B9 !important;
          cursor: default;

          &:hover {
            background: none;
          }
        }
        i {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

        }
      }

      .p-pagination-ellipsis {
        border: none;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 1px;
        margin-right: 1px;
        height: 34px;
        font-size: 14px;
      }
    }
    .button-page{
      width: 40px;
      height: 40px;
      border: 2px solid $color-neutral-9;
      box-sizing: border-box;
      border-radius: 8px;
      a{
        height: 100%;
        i{
          font-size: 20px;
        }
      }
      &:hover{
        a{
          color: unset;
          background: unset;
        }
      }
      &:first-child{
        margin-right: 20px;
      }
      &:last-child{
        margin-left: 20px;
      }
      &.disabled{
        border: none;
        .page-link{
          background-color: unset;
        }
      }
    }
    .page-link:focus {
      outline-style: none;
      box-shadow: none;
    }

    .active > a, .active > span {
      z-index: 3;
      color: #17191D !important;
      cursor: default;
      background-color: unset;
      font-weight: 700;
      //border-color: #DFE3E8;
    }

  }

}



