.list__bill {
    height: 100vh;
    .paginate-bill {
        .select_limit_box {
            display: none;
        }
        padding-bottom: 70px;
    }
    .page-content {
        padding: 0 32px 50px 0;
        .header_info {
            padding: 16px;
            background-color: #DDF3F4;
            border-radius: 8px;
            align-items: center;
            justify-content: space-between;
            &-content {
                display: grid;
                grid-column-gap: 10px;
                grid-template-columns: auto auto auto;
                width: 80%;
            }
        }
        .info-number {
            color: #007E78;
            &:not(.total-price) {
                margin-top: 12px;
            }
        }
        .info-bill {
            color: $color-neutral-7;
        }
        .total-price {
            font-size: 24px;
        }
        .card-block {
            margin: 0 0 16px 0;
        }
        .card {
            &-title {
                display: flex;
                justify-content: space-between;
                padding: 16px 16px 0px 16px;
                margin: 0;
                .title-text {
                    font-size: 18px;
                    letter-spacing: 0.2px;
                    color: $color-neutral-10;
                    font-weight: 500;
                }
                .title-pagi {
                    display: flex;
                }
                .btn-pagi {
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    background-color: $color-neutral-2;
                    text-align: center;
                    cursor: pointer;
                    i {
                        line-height: 32px;
                    }
                }
            }
        }
        .card-content {
            padding: 0;
        }
        .table {
            margin: 0;
            thead {
                th {
                    height: 40px;
                    color: $color-neutral-5;
                    font-size: 12px;
                    padding: 0 16px;
                }
            }
            tbody {
                td {
                    border-left: 1px solid transparent;
                    border-right: 1px solid transparent;
                    padding: 0 16px;
                    border-bottom: 1px solid transparent;
                }
            }
        }
    }
}

//listbill
.page-body-bill {
    background-color: #ffffff;
    padding-top: 24px
}

.list__bills {
    width: 1080px;
    margin: 0 auto;
    .page-header {
        &_input {
            width: 56%;
            img,
            i {
                top: 24px;
            }
            .form-control {
                height: 48px;
                border-radius: 12px;
            }
        }
        &_date {
            flex: 1;
            .calendars {
                flex-wrap: nowrap;
            }
        }
        &_button{
            flex: 1;
            height: 48px;
        }
    }
    .table-header {
        th {
            font-size: 12px;
            color: $color-neutral-10;
        }
    }
    .table-responsive {
        tr {
            td {
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
            }
        }
    }
    #date-search {
        width: 300px;
        .form-control {
            height: 48px;
        }
        &+.close {
            width: 48px;
            height: 48px;
            border: 1px solid #ccc;
            border-radius: 12px;
            background-color: #ffffff
        }
        .calendars {
            min-width: 400px;
        }
        .show-ranges {
            min-width: 712px;
        }
        .reportrange-text>div {
            line-height: 35px;
            font-weight: normal;
            .label-date-picker {
                color: $color-neutral-5;
            }
        }
        .opensleft {
            right: 0px;
        }
    }
    .download-bill {
        &:hover {
            svg {
                path {
                    stroke: #00B7B0 !important;
                }
            }
        }
        svg {
            margin-bottom: 2px;
            path {
                stroke:#313232;
            }
        }
    }
    .item_name {
        float: right;
    }
}

.paginate-bill {
    width: 1080px;
    margin: 0 auto;
    padding-bottom: 40px;
}

.bill-dashboard {
    background-color: white;
    .page-header {
        width: auto !important;
        padding: 24px 0 !important;
    }
    .page-body {
        padding: 0 !important;
        .tab {
            padding-bottom: 8px;
            border-bottom: 1px solid $color-neutral-3;
            a {
                margin-right: 40px;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                color: $color-neutral-7;
                position: relative;
                &.active {
                    color: $color-neutral-10;
                    &::after {
                        border-bottom: 2px solid $color-turquoise-4;
                        width: 20%;
                        margin-top: 31px;
                        content: "";
                        position: absolute;
                        margin-left: auto;
                        margin-right: auto;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}

//Modal search bill

.bill__search-advanced{
    .checkbox-custom{
        top:unset;
        position: unset;
        display: flex;
        justify-content: space-between;
    }

     .modal-lg .status input[type=checkbox]:checked + label::before{
         background-color: #00B7B0;
         border-color: #00B7B0;
     }
    .modal-lg .status input[type=checkbox]:checked + label{
       font-weight: 700;
    }
    .date-search{
        width: 100%;
    }
    .list-option{
        padding: 10px 0;
    }
    .note{
        width: 50%;
        font-size: 12px;
        color: $color-neutral-9;
    }
    .modal-body{
        overflow-y: unset;
    }
    .modal-lg{
        overflow: revert;
    }
    .reportrange-text{
        span{
            margin-top: 7px;
            display: inline-block;
            color: #A8A8A8;
        }
    }
    .status{
       margin-top: 24px;
    }

}