.list__claim{
  background-color: #FFFFFF;
  .card{
    border: none;
  }
  &-search{
    .btn{
      min-width: 150px;
    }
  }
  &-list{

  }
  &-title{
   th{
     font-size: 12px;
     color: $color-neutral-5 !important;
   }
  }
}
.modal__add-claim{
  .form-control{
    position: relative;
    top: 0;
    left: 0;
  }
  &-label{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    span{
      color: red;
    }
  }

  .text__aria{
    &-content{
      width: 100%;
      border: 1px solid $color-neutral-4;
      box-sizing: border-box;
      border-radius: 8px;
      min-height: 120px;
      padding: 5px 0 0 16px;
      color: $color-neutral-9;
      &::placeholder{
        color: $color-neutral-4
      }
    }
  }
}