.claim-detail-page {
    .table {
        margin: 0;
        th {
            height: 66px;
            &:first-child {
                padding-left: 8px;
            }
        }
        td {
            height: 84px !important;
            &:first-child {
                padding-left: 8px;
                .design-image {
                    width: 60px;
                    height: 60px;
                    position: relative;
                    border-radius: 4px;
                    object-fit: cover;
                }
            }
            &:last-child {
                text-align: center;
                .icon-download {
                    margin-right: 10px;
                }
            }
        }
    }
}

.claim-detail-page {
    background: #FFFFFF;
    .page-header-group {
        margin-bottom: 12px;
    }
    .claim-content-page {
        width: 1080px;
        margin: auto;
        .page-header {
            padding: 0;
            margin-bottom: 24px;
            // top: 56px;
            // width: 1080px;
            // position: fixed;
            // padding-top: 24px;
            // z-index: 999;
            // background: white;
            .page-header_back {
                .text {
                    color: #626363;
                }
                .page-header_back_icon {
                    margin-bottom: 2px;
                }
            }
            .page-header_title {
                margin-bottom: 0;
                font-style: normal;
                font-weight: normal;
                font-size: 36px;
                line-height: 54px;
                color: #111212;
                .edit-ticket {
                    position: relative;
                    left: 16px;
                    bottom: 2px;
                    cursor: pointer;
                }
            }
            .note-content {
                background: #F6F7F7;
                border-radius: 8px;
                height: 40px;
                color: $color-neutral-7;
                font-style: italic;
                font-weight: normal;
                font-size: 12px;
                line-height: 16px;
                display: flex;
                align-items: center;
                margin-bottom: 24px;
                span {
                    margin-left: 16px;
                }
            }
            .p-tooltip {
                &::after {
                    font-size: 1.25rem;
                    padding: 5px;
                    line-height: 24px
                }
            }
        }
        .page-content {
            .card {
                padding: 12px 16px 16px 16px;
                margin-bottom: 24px;
                background: #FFFFFF;
                border: 1px solid #E1E2E2;
                box-sizing: border-box;
                border-radius: 4px;
            }
            .menu_content {
                .reply {
                    background: #F6F7F7;
                    border-radius: 8px;
                    padding: 16px;
                    .form-control {
                        position: relative;
                        height: 20vh;
                    }
                    .btn-reply {
                        button {
                            height: 48px;
                            width: 116px;
                            font-weight: bold;
                        }
                        .upload {
                            margin-left: 16px;
                            position: relative;
                            .p-tooltip::after {
                                width: 100px;
                                left: 20px;
                                text-align: center;
                            }
                            .p-tooltip::before {
                                left: 13px;
                            }
                            .el-upload-dragger {
                                height: 24px;
                                width: 24px;
                                background: none;
                                border: none;
                                position: absolute;
                                top: 12px;
                            }
                        }
                    }
                    .btn-close {
                        border: 1px solid #CFD0D0;
                        box-sizing: border-box;
                        border-radius: 12px;
                        width: 168px;
                        height: 48px;
                        color: $color-neutral-7;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 22px;
                        img {
                            margin-right: 4px;
                        }
                    }
                }
                .bookmark {
                    position: absolute;
                    left: -24px;
                    top: 0;
                }
                .main-claim {
                    // top: 236px;
                    // width: 1080px;
                    // position: fixed !important;
                    // z-index: 998;
                }
                .user-content {
                    position: relative;
                    border-left: 1px solid #AAB2FB;
                    .user-title {
                        padding-bottom: 12px;
                        border-bottom: 1px solid #dfe3e8;
                        .info-user {
                            .user-name {
                                color: #37393e;
                                font-weight: 700;
                                line-height: 24px;
                                margin-left: 8px;
                            }
                            .role-user {
                                background-color: #def6f3;
                                color: #1dc9b7;
                                font-size: 12px;
                                border-radius: 50px;
                                padding: 2px 8px;
                                font-weight: 500;
                                margin-left: 8px;
                            }
                        }
                        .user-time {
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 22px;
                            color: #626363;
                        }
                    }
                    .user-text {
                        margin-top: 16px;
                        font-size: 14px;
                        line-height: 22px;
                        color: $color-neutral-9;
                        a {
                            color: $color-turquoise-4;
                        }
                    }
                    .ticket-attach-files {
                        margin-top: 16px;
                        .list-item {
                            display: flex;
                            .item {
                                margin-right: 16px;
                                .gallery-item {
                                    position: relative;
                                    img {
                                        width: 84px !important;
                                        height: 84px !important;
                                        object-fit: cover;
                                    }
                                    .icon {
                                        color: #fff;
                                        position: absolute;
                                        top: 50%;
                                        left: 50%;
                                        transform: translate(-50%, -50%);
                                        font-size: 25px;
                                        cursor: pointer;
                                        display: none;
                                    }
                                    &:before {
                                        content: '';
                                        position: absolute;
                                        background-color: rgba(0, 0, 0, 0.2);
                                        width: 100%;
                                        height: 100%;
                                        opacity: 0;
                                    }
                                    &:hover::before {
                                        opacity: 1;
                                        transition: 0.4s;
                                    }
                                    &:hover .icon {
                                        display: block;
                                        transition: 0.4s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .cs-reply {
                .card {
                    border-left: 1px solid #02BABA !important;
                }
            }
        }
        &.card {
            padding: 24px;
        }
    }
    .footer {
        width: 100%;
        .group-button {
            float: right;
            button {
                margin: 0 4px;
            }
        }
    }
}

.modal-reply-ticket {
    background: #FFFFFF;
    border-radius: 4px;
    .modal-header {
        padding: 12px 16px 12px 16px;
    }
    .modal-body {
        padding: 16px;
    }
    .page-content {
        margin: 0 !important;
    }
    .rule {
        margin-top: 8px;
        flex: 0 0 60%;
        text-align: left;
        font-size: 12px;
        line-height: 18px;
        color: #b0b3b9;
    }
    .form-control {
        margin-top: 8px;
        position: relative;
        width: 100%;
        border: 1px solid $color-neutral-4;
        box-sizing: border-box;
        border-radius: 8px;
        min-height: 120px;
        padding: 5px 0 0 16px;
        color: $color-neutral-9;
        &::placeholder {
            color: $color-neutral-4
        }
    }
    .footer {
        i {
            font-size: 12px;
            line-height: 16px;
            /* identical to box height, or 133% */
            /* Neutral / Neutral 7 */
            color: #626363;
        }
        .group-button {
            flex: 0 0 40%;
            text-align: right;
        }
    }
    .el-upload-dragger {
        height: auto;
        .el-upload__text {
            line-height: 64px;
            color: $color-java-blue-10;
            font-weight: normal;
        }
    }
    .remove-file {
        cursor: pointer;
        &:hover {
            color: #db1802;
        }
    }
}

.ticket-attach-files {
    .gallery-item::before {
        content: none !important;
    }
    .gallery-item>div {
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            background-color: rgba(0, 0, 0, 0.2);
            width: 100%;
            height: 100%;
            opacity: 0;
        }
    }
    .gallery-item:hover>div {
        &::before {
            opacity: 1;
        }
    }
}

.ticket__error {
    font-size: 12px;
    border: 1px solid #ED857A;
    background-color: #FFF4F3;
    border-radius: 4px;
    &-title {
        padding: 10px;
    }
    &-list {
        padding: 0 10px 10px;
    }
}

.ticket__reply-files {
    img {
        cursor: pointer;
    }
}

.claim-messages {
    width: 100%;
    position: relative;
}

.err-span {
    color: red;
    font-size: 12px;
}