.card-setting{
  position: relative;
  .base-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .card-padding{
    padding: 4% 10%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
  }
  .card-slide_header{
    h3{
      font-size: 16px;
      color:#17191D;
      line-height: 22px;
      font-weight: bold;
      letter-spacing: 2px;
      margin: 0;
    }
    .text{
      font-size: 14px;
      color: #37393E;
    }

  }
  .row2{
    display: flex;
    justify-content: space-between;
    margin: 0 -11px;
    img{
      width: 100px;
      height: 110px;
    }
  }
  .col2{
    img{
      width: 100%;
    }
    .name-item{
      font-weight: bold;
      font-size: 14px;
      color: #17191D;
    }
    .value-item{
      color: #37393E;
      font-size: 12px;
    }
  }
  .statistics{
    margin-top: 24px;
    .unit-progress{
      position: relative;
      max-width: 90%;
      margin: 0 auto;
      height: 30px;
      .progress{
        .progress-bar-extend{
          background: linear-gradient(to right, #ABC4FF, #306BF3, #8D30F3);
          border-radius: 4px;
          position: relative;
          z-index: 0;
          height: 80%;
          top: 50%;
          transform: translateY(-50%);
          &:before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: linear-gradient(
                            -45deg,
                            rgba(255, 255, 255, 0.2) 25%,
                            transparent 25%,
                            transparent 50%,
                            rgba(255, 255, 255, 0.2) 50%,
                            rgba(255, 255, 255, 0.2) 75%,
                            transparent 75%,
                            transparent
            );
            z-index: 1;
            background-size: 19px 20px;
            animation: move 2s linear infinite;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            overflow: hidden;
          }
        }
      }
      .img-icon{
        width: 32px;
        height: 32px;
        background-color: #0554f2;
        border-radius: 50%;
        img{
          display: block;
          margin: 8px auto;
        }
      }
    }
    .unit-progress__current{
      color: #0554F2;
      background-color: #F4F6F8;
      font-size: 12px;
      line-height: 28px;
      position: relative;
      margin-bottom: 28px;
      transform: translateX(-55%);
      border-radius: 4px;
      padding: 0 9px;
      top: -5rem;
      display: inline-block;
      &:before{
        position: absolute;
        content: '';
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid #F4F6F8;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

    }
  }
  .statistics_desc{
    color: #37393E;
    font-size: 12px;
  }
  .action-user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    a{
      color: #0554F2;
      font-size: 12px;
      font-weight: 500;
    }

    .btn-cash{
      &.role-seller{
        display: block;
      }
      display: none;
      padding: 10px 20px;
      &:hover{
        transition: 0.4s;
        opacity: 0.9;
      }
    }
  }
}
//vue-course
.VueCarousel-pagination--top-overlay[data-v-438fd353]{
  top: 175px;
}
.card-content{
  margin-top: 24px;
  .blog{
    position: relative;
    img{
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    .blog-title{
      position: absolute;
      top: 24px;
      left: 16px;
      color: #FFFFFF;
      font-size: 20px;
      font-weight: 600;
    }
    .blog-desc{
      position: absolute;
      top: 60px;
      left: 16px;
      color: #FFFFFF;
      font-size: 14px;
    }
    a{
    display: block;
      width: 100%;
      height: 100%;
      img{

      }
    }
  }
  .col-md-8{
    padding-right: 12px;
  }
  .col-md-4{
  padding-left: 12px;
  }
}
//Tabs Dashboard
.dashboard-section, .section-new-item {
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
  border-radius: 8px;
  overflow: hidden;
  .dashboard-section_header{
    height: 48px;
    line-height: 48px;
    padding-left: 16px;
    border-bottom:1px solid #E5E7ED;
    color: #37393E;
    font-weight: 500;
    }
  .dashboard-section_content{
    .nav-tab{
     .nav-item{
       flex: auto;
       height: 48px;
       cursor: pointer;
       position: relative;
       background: #F4F6F8;
       &.active:before{
         content: '';
         position: absolute;
         top: 0; right: 0; bottom: 0; left: 0;
         height: 2px;
         background: linear-gradient(90deg, #4295FF 0%, #B688FF 96.25%);
         border: inherit;
       }
       &.active{
         background-color: #FFFFFF;
         border-radius: 0 8px 0 0 ;
        a{
          color: #37393E;
        }
       }
       .nav-link{
         display: block;
         padding: 0;
         height: 100%;
         line-height: 48px;
         text-align: center;
         color: #909398;
         img{
           margin-bottom: 5px;
         }
       }
     }
    }
    .nav-content{
      max-height: 300px;
      .tab-pane{
        margin-top: 8px;
        padding: 24px;
        display: none !important;
        &.active{
         display: flex !important;
        }
        .tab-pane_desc{
          width: 80%;
          .tab-pane_title{
            color: #17191D;
            font-size: 20px;
            font-weight: bold;
          }
        }
        .tab-pane_img{
          flex: 1;
        }
        .learn{
          a{
            font-style: italic;
            color: #B0B3B9;
            &:hover{
              color: #0554F2;
              transition: 0.4s;
            }
          }
          img{
            margin-bottom: 4px;
          }
        }
      }
    }
  }
  .dashboard-section_footer{
    .control-footer{
      justify-content: space-between;
      height: 48px;
      line-height: 48px;
      border-top: 1px solid #E5E7ED;
      color:#B0B3B9;
      padding: 0 30px;
      a{
        color:#B0B3B9;
      }
    }
  }
}
//Show Card
  .carousel-contest, .carousel-new-item{
    padding: 24px 0;
    display: inline-flex;
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    .item-carousel, .new-item-carousel{
      img{
        object-fit: cover;
        width: 100%;
        height: auto;
        min-height: 210px;
      }
      .card-body{
        padding: 0;
        margin-top: 16px;
        text-align: center;
        .card-category{
          color: #B0B3B9;
          font-size: 10px;
          font-weight: 600;
        }
        .card-name{
          margin-top: 4px;
          color: #17191D;
          font-weight: bold;
        }
        .card-price{
          color: #0554F2;
          font-size: 12px;
        }
      }
    }
    .new-item-carousel{
      img{
        object-fit: cover;
        width: 100%;
        height: 280px;
      }
    }
  }
//Suggest
.suggest{
  .suggest-heading{
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #E5E7ED;
    color: #37393E;
    font-weight: 500;
    font-size: 16px;
  }
  .suggest-list{
    .suggest-item{
      line-height: 22px;
      margin-bottom: 4px;
      a{
        color: #37393E;
        &:hover{
          color: #0554F2;
          transition: 0.4s;
        }
      }
      &:before {
        content: "";
        width: 4px;
        height: 4px;
        background-color: #D4D7DD;
        float: left;
        margin: 9px 7px 0 0;
        border-radius: 50%;
      }
    }
  }
  .more-link{
    margin-top: 10px;
    a{
      color: #909398;
      img{
        margin-bottom: 2px;
      }
    }
  }
}
//Cashback Modal
.cash-back-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 970;
  .p-modal-background{
    position: fixed;
    z-index: 998;
  }
  .modal-content-header{
    z-index: 999;
    position: absolute;
    top: 6px;
    right: 20px;
    cursor: pointer;
    .close{
      color: #FFFFFF;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
    }
  }
  .modal-content-cashback{
    z-index: 999;

    box-shadow: 0px 12px 48px -16px rgba(0, 0, 0, 0.32);
    border-radius: 12px;
    .content{
      position: relative;
      &-desc{
        .desc-title{
          font-size: 24px;
          color: #17191D;
          line-height: 36px;
          font-weight: 700;
        }
        .desc-text{
          margin-top: 8px;
        }
        .btn-ok{
          margin-top: 12px;
          background-color: #0554F2;
          border-radius: 8px;
          color: #FFFFFF;
          padding: 10px 20px;
          &:hover{
            transition: 0.4s;
            opacity: 0.9;
          }
        }
      }
    }
  }
}