.list-packages {
    .page-header__title {
        margin-top: 6px;
        font-weight: normal;
        font-size: 36px;
        line-height: 54px;
        /* identical to box height, or 150% */
        
        
        /* Neutral / Neutral 10 */
        
        color: $color-neutral-10;
        .btn-excel {
            border: none;
            background-color: inherit;
            display: flex;
            align-items: center;
            border-radius: 8px;
            padding: 10px 19.5px 10px 16px;
            margin-left: 8px;
            margin-top: 8px;
            span {
                font-size: 14px;
                line-height: 22px;
                font-weight: bold;
            }
            img {
                margin-right: 7px;
            }
        }
        .btn-import {
            color: #fff;
            background-color: $color-java-blue-6;
        }
        .btn-export {
            &:disabled {
                cursor: not-allowed;
            }
            color: $color-java-blue-6;
        }
    }
    .bulk-actions {
        position: absolute;
        top: 153px;
        font-weight: 700;
        .bulk-actions__main-bar {
            .bulk-actions__selection-count {
                cursor: default;
                box-sizing: border-box;
                z-index: -5;
                display: inline-block;
                white-space: nowrap;
                vertical-align: middle;
                background-color: #FFFFFF;
                border: 1px solid #686B70;
                padding: 0.429rem 1rem;
                box-shadow: none;
                padding-left: 3.5rem;
                border-bottom-left-radius: 4px;
                border-top-left-radius: 4px;
                border-right: none;
                font-weight: 600;
                font-size: 14px;
                line-height: 160%;
                text-align: center;
                color: #37393E;
            }
            .bulk-actions__selection-status {
                font-weight: 600;
                box-sizing: border-box;
                z-index: -5;
                display: inline-block;
                text-align: center;
                white-space: nowrap;
                vertical-align: middle;
                background-color: #FFFFFF;
                color: #37393E;
                border: 1px solid #686B70;
                padding: 0.429rem 1rem;
                line-height: 160%;
                box-shadow: none;
                border-right: none;
                cursor: pointer;
                height: 100%;
                border-radius: 0 !important;
                &:last-child {
                    border-bottom-right-radius: 4px !important;
                    border-top-right-radius: 4px !important;
                    border-right: 1px solid #686B70;
                }
                &:hover {
                    background-color: #f4f5f6;
                }
            }
        }
        .bulk-select-all {
            margin-left: 1rem;
        }
    }
    .p-modal {
        table {
            &.table-result {
                min-width: 230px;
                tr {
                    td {
                        padding: 4px 0px;
                        font-size: 14px;
                        line-height: 22px;
                        color: $color-neutral-9;
                        &:first-child {
                            font-weight: 500;
                            color: $color-neutral-10;
                        }
                    }
                }
            }
            &.table-error {
                border-collapse: collapse;
                border: 1px solid $color-neutral-5;
                width: 100%;
                td,
                th {
                    padding: 7px 14px;
                    height: 44px;
                    border: 1px solid $color-neutral-4;
                }
                th {
                    color: $color-neutral-10;
                    font-weight: bold;
                }
                td {
                    color: $color-neutral-9;
                }
                pre {
                    white-space: pre-wrap;
                    line-height: 20px;
                }
            }
        }
        .modal-footer {
            flex-wrap: nowrap;
        }
        .detail {
            p {
                letter-spacing: 0.2px;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: $color-neutral-10;
                margin-bottom: 17px;
            }
        }
        .success-import {
            display: inline-block;
            width: 18.5px;
            height: 18.5px;
            background-image: url("~@/assets/img/import_sucess.svg");
            margin-right: 6px;
            margin-bottom: -3px;
            &+span {
                color: #48BE78;
            }
        }
        .fail-import {
            display: inline-block;
            width: 18.5px;
            height: 18.5px;
            background-image: url("~@/assets/img/import_fail.svg");
            margin-right: 6px;
            margin-bottom: -3px;
            &+span {
                color: #F5222D;
            }
        }
        span[disabled="disabled"] {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
    .detail_product {
        max-width: 350px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
    #preview .modal-footer {
        display: none;
    }
    #date-search {
        max-width: 300px;
        margin-left: 8px;
        &+.close {
            width: 50px;
            height: 40px;
            border: 1px solid #ccc;
            border-radius: 8px;
        }
        .calendars {
            min-width: 400px;
        }
        .show-ranges {
            min-width: 712px;
        }
        .reportrange-text>div {
            line-height: 28px;
            font-weight: normal;
            .label-date-picker {
                color: $color-neutral-4;
            }
        }
    }
    #nav_container {
        position: relative;
        // overflow: hidden;
        .icon-nav {
            position: absolute;
            border: none;
            background-color: #fff;
            z-index: 2;
            bottom: 10px;
            display: none;
        }
        .icon-nav.next {
            left: 0;
            cursor: not-allowed;
            i {
                display: inline-block;
                width: 22px;
                height: 22px;
                background-image: url("~@/assets/img/left_nav.png");
                vertical-align: middle;
            }
            &.active {
                cursor: pointer !important;
                i {
                    background-image: url("~@/assets/img/left_nav_active.svg") !important;
                }
            }
        }
        .icon-nav.prev {
            right: 0;
            cursor: not-allowed;
            i {
                display: inline-block;
                width: 22px;
                height: 22px;
                background-image: url("~@/assets/img/right_nav.svg");
                vertical-align: middle;
            }
            &.active {
                cursor: pointer !important;
                i {
                    background-image: url("~@/assets/img/right_nav_active.svg") !important;
                }
            }
        }
        #nav_packages {
            padding-bottom: 4px;
            z-index: 1;
            width: 200%;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            li a {
                line-height: 22px;
                color: $color-neutral-7;
            }
        }
    }
    #tbl-packages {
        th {
            color: $color-neutral-5;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            letter-spacing: 0.75px;
        }
    }
}