.order-view-page {
    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 10px;
        border-radius: 10px;
        background: #DFE3E8;
      }
    ::-webkit-scrollbar-track {
        box-shadow: none;
      }
    ::-webkit-scrollbar {
        width: 12px;
      }
    .container-fluid {
        padding: 0;
        .col-4, .col-8{
            // padding: 0 12px;
        }
    }

    .order-number {
        font-weight: bold;
        font-size: 24px;
        line-height: 120%;
        color: #17191D;
        margin-right: 12px;
    }
    .order-date {
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: #686B70;
        margin-left: 12px;
    }


    // 16/12/2020
    .tracking-detail {
        margin-top: 25px;
        border-radius: 4px 4px 0px 0px;
        .tracking-detail-header{
            border: 1px solid #DFE3E8;
            border-radius: 4px 4px 0px 0px;
            background: #F9FAFB;
            padding: 15px 24px;
            span{
                font-size: 14px;
                line-height: 160%;
                text-align: right;
            }
        }

        .order-tracking{
            height: 100%;
            border: 1px solid #DFE3E8;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }
    .disabled-edit{
        cursor: not-allowed;
        background: white;
        border: 0;
        padding-right: 0;
        font-weight: normal;
        font-size: 14px;
        line-height: 160%;
        color: #B0B3B9;
    }

    .card {
        box-shadow: 0px 1px 12px -6px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        padding: 15px 24px;
        .card-title {
            justify-content: space-between;
            font-weight: bold;
            font-size: 16px;
            line-height: 120%;
            color: #17191D;
            .total-cost {
                margin-left: 24px;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                color: #37393E;
            }
            .btn-edit {
                padding-right: 0;
                font-weight: normal;
                font-size: 14px;
                line-height: 160%;
                color: #0554F2;
                &:focus {
                    // outline: none !important;
                    box-shadow: none;
                }
            }
        }
        .btn-push-tracking{
            color: #17191D;
            display: flex;
            &:hover {
                color: #0554F2;
            }
        }

        .btn-show-label{
            color: #17191D;
            display: flex;
            &:hover {
                color: #0554F2;
            }
        }
    }

    .order-detail {
        .order-items-info {
            width: 100%;
            .section-order-items{
                margin-top: 15px;
                padding-top: 15px;
                padding-bottom: 12px;
            }
            .section-tracking-lg {
                display: none;
            }
            .section-timeline-lg {
                display: none;
            }
        }

        .note-customer {
            display: flex;
            .order-note {
                flex: 0 0 50%;
                padding-right: 12px;
                max-width: 50%;
                .card-text-placeholder {
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 160%;
                    color: #B0B3B9;
                    cursor: pointer;
                }
                .card-text{
                    white-space: pre-line;
                    margin-top: -20px;
                }
            }

            .order-shipping {
                padding-left: 12px;
                flex: 0 0 50%;
                .section-order-shipping {
                    padding: 0;
                    .card-customer {
                        padding: 15px 24px;
                        border-bottom: 1px solid #DFE3E8;
                        .info-customer {
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 160%;
                            color: #37393E;
                            .row {
                                margin-bottom: 8px;
                            }
                            .col-4 {
                                font-weight: 600;
                            }
                        }
                    }
                    .card-shipping {
                        padding: 15px 24px;

                    }
                }
            }
        }
    }

    .section-timeline-sm{
        width: 100%;
        margin-top: 15px;
        padding-top: 20px;
        background-color:#F9FAFB;
        border-radius: 0px;
        box-shadow: none;
        border: 0;
        .timeline  {
            h3 {
                border-bottom: 1px solid #DFE3E8;
                padding-bottom: 12px;
                margin-bottom: 32px;

                font-family: Montserrat;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 120%;
                color: #17191D;
            }
            .notfound {
                margin: 80px auto;
                p {
                    color: #37393E;
                    font-family: Montserrat;
                    font-weight: 500;
                    font-size: 14px;
                }
            }
        }
    }

    .buttons-paginate {
        margin-top: 32px;
        display: flex;
        justify-content: center;
        .btn-next {
            width: 73px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #37393E;
            box-sizing: border-box;
            border-radius: 0px 4px 4px 0px;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 160%;
            color: #37393E;
            .fa-chevron-right{
                width: 3px;
                height: 6px;
                margin-left: 7.5px;
            }
            &:disabled {
                border: 1px solid #C4CDD5;
                color: #B0B3B9;
                cursor: not-allowed;
            }
        }
        .btn-pre {
            width: 73px;
            height: 40px;
            background: #FFFFFF;
            font-weight: 600;
            font-size: 14px;
            line-height: 160%;
            color: #37393E;
            border: 1px solid #37393E;
            box-sizing: border-box;
            border-radius: 4px 0px 0px 4px;
            .fa-chevron-left{
                width: 3px;
                height: 6px;
                margin-right: 12.5px;
            }
            &:disabled {
                border: 1px solid #C4CDD5;
                color: #B0B3B9;
                cursor: not-allowed;
            }
        }
    }
}

@media only screen and (min-width: 1025px) {
    .order-detail-header {
        width: 75% !important;
    }
    .order-detail {
        display: flex;
        .order-items-info{
            position: relative;
            width: 75% !important;
            .section-tracking-lg {
                display: block !important;
            }
            .section-timeline-lg {
                display: block !important;
                width: 100%;
                margin-top: 15px;
                padding-top: 20px;
                background-color:#F9FAFB;
                border-radius: 0px;
                box-shadow: none;
                border: 0;
                    .timeline  {
                        h3 {
                            border-bottom: 1px solid #DFE3E8;
                            padding-bottom: 12px;
                            margin-bottom: 32px;
            
                            font-family: Montserrat;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 120%;
                            color: #17191D;
                        }
                        .timeline-simple {
                            padding-right: 40px;
                        }
                        .notfound {
                            margin: 80px auto;
                            p {
                                color: #37393E;
                                font-family: Montserrat;
                                font-weight: 500;
                                font-size: 14px;
                            }
                        }
                    }
            }
        }
        .note-customer {
            width: 25% !important;
            flex-direction: column;
            display: block !important;
            margin-left: 24px;
            margin-top: 15px;
            .order-note {
                max-width: 100% !important;
                padding: 0 !important;
                margin-bottom: 24px;

            }
            .order-shipping {
                padding: 0 !important;
            }
        }
    }
    .section-tracking-sm {
        display: none;
    }
    .section-timeline-sm {
        display: none;
    }
    .col-8 {
        padding-left: 15px !important;
    }
}

@media only screen and (max-width: 1366px) {
    .order-shipping {
        .col-4 {
            min-width: 120px;
        }
        .col-8 {
            min-width: 200px !important;
        }
    }
    .update-text {
        display: none;
    }
}

@media only screen and (max-width: 1280px) {
    .update-text {
        display: none;
    }
}