.notification__page {
  .noti__dropdown-item {
    background: white;
    padding: 16px 14px;
    cursor: pointer;

    &:after {
      width: 100%;
    }

    &:hover {
      background-color: #f8f9fa;
    }

    &:last-child {
      &:after {
        width: 0;
      }
    }
  }

  .item-date {
    color: #B0B3B9;
    font-size: 12px;
  }

  .page-footer {
    padding-bottom: 70px;
  }

  .item-content {
    display: flex;

    .item-text {
      margin-left: 8px;
      line-height: 20px;

      .item-date {
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: #B0B3B9;
        margin-top: 4px;
      }
    }
  }

  .noti__dropdown-item {
    padding: 16px;

    &.unread {
      .item-content {
        svg {
          path {
            stroke: #898A8A;
          }
        }
      }
    }
  }

  .page-header {
    padding: 22px 0 16px;

    .nav-tabs {
      padding-bottom: 0;
      border: none;
      .nav-item{
        height: 100%;
      }
      .nav-link{
        svg {
          height: 30px;
          width: 30px;
          rect{
           display: none;
          }
        }
        &.first{
        padding: 7px 16px !important;
        }
        &.active{
          svg {
            path {
              stroke:#111212;
            }
          }
        }
      }
      .text-status{
        padding: 8px 0;
      }
      .nav-link {
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        border-radius: 32px;
        padding: 0px 16px;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.2px;
        color: #898A8A;

        &.active:after,
        &:hover:after {
          border: none !important;
        }

        &.active {
          border: 1px solid #111212 !important;
          color: #111212;
          ;
        }
      }

      .nav-item {
        border: 1px solid #E1E2E2;
        border-radius: 32px;
        margin-right: 8px;
      }
    }
  }

  .notify-body {
    &.body-icon {
      margin: 16px 8px 0 40px;
    }

    margin:16px 8px 0 8px;
  }

  .empty-notify {
    background: #fff;

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}