.package-detail {
  .page-header {
    margin-bottom: 12px;
  }

  .page-header_back {
    margin-bottom: 16px;
    a {
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.2px;
      color: $color-neutral-7;

      span {
        margin-left: 10px;
      }
    }
  }

    .page-header__subtitle {
    display: flex;
    justify-content: space-between;

    .page-header__info {
      display: flex;
    }

    .page-header__info > {
      div {
        margin-right: 32px;
        div:first-child {
          color: $color-neutral-7;
          font-size: 12px;
        }
        div:last-child {
          color: $color-neutral-10;
        }
      }
    }
  }


  .more-extra-fee {
    display: flex;
    align-items: baseline;
    position: relative;
  }

  .more-extra-fee img {
    cursor: pointer;
    width: 18px;
    height: 18px;
  }
  .pop-up-more-extra-fee {
    position: absolute;
    box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04),
    0px 4px 8px rgba(96, 97, 112, 0.16);
    border-radius: 8px;
    padding: 16px;
    top: -19px;
    left: 100px;
    //width: 100%;
    z-index: 10000;
    background: #ffffff;
    //min-width: 100px;
  }
  .pop-up-more-extra-fee > div {
    display: flex;
    justify-content: space-between;
  }

  .pop-up-more-extra-fee > div > div {
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    z-index: 100;
    width: max-content;
    margin-right: 15px;
  }

  .pop-up-more-extra-fee > div > div:nth-last-child {
    margin-bottom: 8px;
  }
  .package-code {
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
  }
}

.modal__edit-order{
  .card__w-input{
    .form-control{
      position: unset;
    }
  }
  .p-modal-content{
    min-width: 1000px;
  }
  &-header{
    font-size: 12px;
    margin-bottom: 14px;
    text-align: right;
    span{
      color: red;
    }
  }
  &-footer{
    box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.12), 0px 0.5px 2px rgba(96, 97, 112, 0.26);
    margin-top: 9px;
    border-radius: 4px;
    display: flex;
    height: 88px;
    .total-title{
      padding: 21px 16px;
      flex: 1;
      display: flex;
      align-items: center;
      color: $color-neutral-10;
      font-weight: 600;
      span{
        color: $color-neutral-10;
        font-weight: 600;
        font-size: 20px;
        margin-left: 5px;
        margin-bottom: 5px;
      }
    }
    .total-action{
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 16px;
      .btn-default{
        color: $color-neutral-9;
        margin-right: 5px;
        border-color: $color-neutral-4;
      }
      .btn-primary{
        color: white;
      }
    }
    .divider{
      width: 1%;
      position: relative;
      &:before{
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        border-left: 1px dashed $color-neutral-5;
      }
      .notch{
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: white;
        left: -12px;
        top: -11px;
        border-radius: 50%;
        background:linear-gradient(#ffffff 0%, #ffffff 50%);
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.12), 0px 0.5px 2px rgba(96, 97, 112, 0.26);
        &::after{
          position: absolute;
          width: 26px;
          height: 24px;
          background-color: white;
          content: "";
          top: -50%;
          left: -1px;
        }
      }
      .notch-bt{
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: white;
        left: -12px;
        bottom: -11px;
        border-radius: 50%;
        background:linear-gradient(#ffffff 50%, #ffffff 0%);
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.12), 0px 0.5px 2px rgba(96, 97, 112, 0.26);
        &::after{
          position: absolute;
          width: 26px;
          height: 24px;
          background-color: white;
          content: "";
          bottom: -50%;
          left: -1px;
        }
      }
    }
  }
}