.create__package {
    .card {
        border: none;
        .card-body {
            .form-control {
                height: 40px;
            }
            background: #F9FAFB;
            padding: 0 0 100px 0;
        }
    }
    .page-header {
        margin-top: 20px;
        padding: 0 0 24px 0;
    }
    &-warning {
        font-size: 12px;
        color: $color-neutral-7;
        margin-top: 8px;
        span {
            color: red;
        }
    }
    &-footer {
        display: flex;
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.12), 0px 0.5px 2px rgba(96, 97, 112, 0.26);
        border-radius: 4px 4px 0 0;
    }
    &-price {
        width: 50%;
        align-items: center;
        padding-left: 16px;
    }
    &-divider {
        width: 1%;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            border-left: 1px dashed $color-neutral-5;
        }
    }
    &-notch {
        position: absolute;
        width: 24px;
        height: 24px;
        background-color: white;
        left: -12px;
        top: -11px;
        border-radius: 50%;
        background: linear-gradient(#ffffff 0%, #ffffff 50%);
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.12), 0px 0.5px 2px rgba(96, 97, 112, 0.26);
        &::after {
            position: absolute;
            width: 26px;
            height: 24px;
            background-color: white;
            content: "";
            top: -50%;
            left: -1px;
        }
    }
    .page-footer {
        background-color: #ffffff;
        position: fixed;
        width: calc(100% - 120px);
        z-index: 2;
        bottom: 0;
        right: 0;
        box-shadow: 0px -2px 4px rgba(40, 41, 61, 0.04), 0px -6px 10px rgba(96, 97, 112, 0.08);
        padding: 12px 32px;
        display: flex;
        justify-content: space-between;
        .page-footer__left {
            .total {
                .total-title {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    color: #AAABAB;
                }
                .total-number {
                    padding: 0;
                    color: $color-neutral-10;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 28px;
                    line-height: 34px;
                }
                .text {
                    color: red;
                    font-size: 12px;
                }
            }
        }
        .btn {
            width: 268px;
            height: 54px;
            border-radius: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .page-footer__right {
            .is-disabled {
                pointer-events: none;
                cursor: default;
            }
        }
    }
    &-total {
        width: 39%;
        padding: 16px;
        .rule {
            position: relative;
            padding-bottom: 16px;
            &-text {
                color: $color-neutral-7;
            }
            &-link {
                color: $color-java-blue-10;
                text-decoration: underline;
            }
            label:before {
                top: 3px;
            }
            label:after {
                top: 3px;
            }
        }
        a.btn {
            display: block;
            margin-top: 22px;
        }
    }
    .price-title {
        &-item {
            color: $color-neutral-9;
        }
    }
    .price-price {
        margin-left: 6px;
        &-item {
            color: $color-neutral-10;
            font-weight: 500;
        }
    }
    .select-product {
        margin-right: 8px;
        width: 100%;
    }
    .add-product {
        width: 40px;
        height: 40px;
        .btn-add {
            padding: 10px;
            width: 40px;
            height: 40px;
            line-height: 0px;
            background: #DDF2F2;
            border-radius: 8px;
            img {
                width: 100%;
                margin: 0px;
            }
        }
        .btn-remove {
            padding: 10px;
            width: 40px;
            height: 40px;
            line-height: 0px;
            background: #F6F7F7;
            border-radius: 8px;
            img {
                width: 100%;
                margin: 0px;
            }
        }
    }
    .product-quantity {
        width: 93px;
    }
    .product-info {
        width: 100%;
        margin: 0px;
        .multiselect-custom {
            padding: 0px;
        }
        .select-product {
            margin: 0px;
            padding-left: 0px;
            padding-right: 8px;
        }
        .product-name {
            width: 100%;
            padding: 8px 17px 8px 17px;
            border-radius: 8px;
            border: 1px solid #cfd0d0;
            min-height: 40px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            background: #e9ecef;
            cursor: not-allowed;
            color: #313232;
        }
        .multiselect__placeholder {
            color: #35495e;
            padding-left: 5px;
            padding-top: 3px;
            margin-bottom: 8px;
            line-height: 20px;
        }
    }
    .product-item {
        margin-bottom: 9px;
    }
    .list-enter-active,
    .list-leave-active {
        transition: all 0.5s;
    }
    .list-enter,
    .list-leave-to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.table-packages {
    tbody tr td {
        vertical-align: top;
        height: auto!important;
        padding: 14px 5px 8px;
    }
    .order-number {
        a {
            width: calc(100% - 36px);
        }
    }
    tr td.action {
        padding: 14px 5px 8px;
    }
}

.table-return-packages {
    tbody tr td {
        vertical-align: top;
        height: auto!important;
        padding: 10px 5px;
    }
    .order-number {
        a {
            width: calc(100% - 36px);
        }
    }
    tr td.action {
        padding: 10px 5px;
    }
    tr td {
        line-height: 36px;
    }
    .btn-primary {
        font-weight: 700;
        font-size: 14px;
        line-height: 20px;
    }
    .btn-primary:disabled {
        color: #a9e0de;
    }
}

.list-packages #tbl-packages tr td.action {
    padding: 9px 5px 8px;
}