.product-base-detail-page{
    margin-top: 30px;
    .header-section {
        border-bottom: 1px solid rgba(0,0,0,.1);
        min-height: 70px;
    }
    
    
    .header-section .container {
        padding: 0;
    }
    
    .site-logo {
        display: inline-block;
        padding: 0;
        margin-right: 3rem;
    }
    
    .header-section ul li {
    
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
    }
    
    .header-right .user-panel {
        display: inline-block;
    }
    
    .header-right a {
        margin-right: 2rem;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #202840;
    }
    
    .header-section .nav-item :focus{
        outline: 0;
    }
    .header-section .active a{
        color: #0554F2 !important;
    }
    .header-section a{
        color: #17191D !important;
    }
    
    .hidden {
        display: none;
    }
    /* end header css */
    
    /* breadcrum section */
    .breadcrumb{
        height: 40px;
        padding: 10px 0px;
        background-color: #FAFAFC;
        margin-bottom: 0;
    }
    .breadcrumb-item {
        display: inline;
        i {
            margin-right: .5rem;
        }
    }
    .breadcrumb-item a img {
        transform: translateY(-15%);
    }
    .breadcrumb li.breadcrumb-item a {
        font-size: 14px;
        color: #686B70;
        text-decoration: none;
    }
    .breadcrumb li.breadcrumb-item a.active {
        color: #C5CAD5!important;
        text-decoration: none;
    }
    .breadcrumb li.breadcrumb-item.active h7{
        font-size: 14px;
        line-height: 22px;
        font-weight: 400;
        color: #686B70;
    }
    
    /* detail-section */
    .detail-section{
         margin-top: 10px;
    }
    .preview-pic.tab-content{
        margin: 0px;
    }
    .preview-pic.tab-content img{
        max-width: 100%;
    }
    .preview-thumbnail{
        border: none;
        display: flex;
        li{
            a{
                &:last-child{
                    img {
                        margin-right: 0;
                    }
                }
            }
        }
    }
    .preview-thumbnail img{
        margin: 16px 8px 10px 0px;
 
    }
    h2.product-title{
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        color: #17191D;
        margin-bottom: 0;
    }
    .product-price{
        margin-top: auto;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        color: #0554F2;
    }
    #shipping-fee{
        margin-top: auto;
        font-weight: bold;
        font-size: 24px;
        line-height: 36px;
        color: #0554F2;
    }
    .product-infor{
        margin: 5% 0%;
        .p-tooltip:after{
            padding: 1.20rem 0.75rem;
        }
        .find-package{
            font-size: 12px;
            font-weight: 500;
           td{
               cursor: pointer;
               padding-left: 1rem;
               height: auto;
           }
        }
        .product-code{
            height: 24px;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            background: #FFF7E6;
            color: #FA8C16;
            box-sizing: border-box;
            border-radius: 24px;
            margin-left: 0.3rem;
            margin-bottom: 0.3rem;
            padding: 5px;
        }
    }
    table.product-infor td{
        height: 39px;
    }
    table.product-infor td.name{
        font-size: 14px;
        line-height: 22px;
        color: #37393E;
    }
    table.product-infor td.infor{
        padding-left: 1rem;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: #37393E;
    }
    table.product-infor a{
        color: #202840;
    }
    table.product-infor button{
        height: 24px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        background: #FFFFFF;
        border: 1px solid #E5E7ED;
        color: #B0B3B9;
        box-sizing: border-box;
        border-radius: 24px;
        margin-left: .3rem;
        margin-bottom: .3rem;
    }
     table.product-infor button.active{
        color: #37393E;
        border: 1px solid #37393E;
        outline: none;
    }
    table.product-infor button:focus {
        outline: none;
    }
    .button-group{
        display: flex;
    }
    .details .btn-total-price{
        background: #0554F2;
        color: #ffffff;
        border-radius: 8px;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        margin-right: 8px;
        box-shadow: none;
    }
    .details .btn-download{
        background: #FFFFFF;
        border: 1px solid #DFE3E8;
        box-sizing: border-box;
        border-radius: 8px;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #37393E;
        box-shadow: none;
        padding: 8px 16px;

    }
    .heading.nav.nav-pills{
        margin-top: 60px;
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        border-bottom: 1px solid #E5E7ED;;

    }
    .nav-link{
        padding-left: 0;
        margin-right: 8px;
    }
    .heading.nav.nav-pills .nav-link.deactive{
        display: flex;
        align-items: center;
        color: #B0B3B9;
        background-color: #ffffff;
    }
    .heading.nav.nav-pills .nav-link.active{
        display: flex;
        align-items: center;
        color: #17191D;
        background-color: #ffffff;
    }
    
    .tab-content{
        margin-top: 24px;
        .tab-pane{
            display: block;
        }
    }
    
    #big-img img{
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
    }
    
    #small-img img{
        width: 98px;
        height: 73px;
        border-radius: 8px;
        object-fit: cover;
    }
    
    .product-detail{
        font-size: 14px;
        line-height: 150%;
        color: #656D82;
    }
    
    .product-detail strong {
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #37393E;
    }
    
    .note{
        margin-bottom: 26px;
    }
    
    ul.list-note {
        list-style-type: point;
        font-size: 14px;
        line-height: 150%;
    
        color: #656D82;
    }
    
    .note h6 {
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #202840;
    }
    
    .alert-product{
        margin-bottom: 26px;
    }
    
    .illustration{
        margin-bottom: 26px;
    }
    
    .quote {
        padding-left: 1rem;
        background-color: rgba(242, 203, 5,0.1);
        /* Primary / Lighter */
    
        border: 1px solid rgba(242, 203, 5,0.1);
        box-sizing: border-box;
        border-radius: 4px;
    }
    
    .quote p {
        margin: 0;
        font-size: 14px;
        line-height: 200%;
        opacity: 1;
    
        color: #0554F2;
    }
    
    .controls-top {
        float: right;
        i {
            color: #17191D;
        }
    }
    
    .rp-heading div{
        display: inline;
    }
    
    .control {
        color: #C5CAD5;
    }
    
    .hidden {
        display: none;
    }
    
    #desc {
        cursor: default;
    }
    
    #size {
        cursor: default;
    }
    
    #size-chart img{
        width: 100%;;
    }
    .list-related-prod{
        font-weight: bold;
        font-size: 20px;
        line-height: 28px;
        display: flex;
        align-items: center;
        color: #17191D;
    }
    .carousel-inner {
        margin-top: 8px;
        border-top: 1px solid #E5E7ED;
        padding-top: 24px;
        .card {
            border:none;
            padding: 0;
            margin-right: 12px;
            text-align: center;
            margin-bottom: 0;
            max-width: 249px;
            box-shadow: none;
        }
        .card img{
            width: 100%;
            height: 249px;
            border-radius: 8px 8px 8px 8px;
            object-fit: cover;
        }
    }
    #rp-1{
        display: flex;
        .related-products {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
    .carousel-inner a:hover{
        text-decoration:none;
    }
    .card{
        background: #FFFFFF;
        border-radius: 8px;
        padding: 24px;
        margin-bottom: 12px;
        border: none;
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.08), 0px 0.5px 2px rgba(96, 97, 112, 0.16);
    }
    .card-body{
        padding: 0%;
    }
    .card-type, .card-type a{
        margin-top: 12px;
        font-weight: 600;
        font-size: 10px;
        line-height: 16px;
        color: #B0B3B9;
        text-transform: uppercase;
    }
    .card-type a:hover{
        text-decoration: none !important;
    }
    .card-name{
        margin-top: 4px;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #17191D;
    }
    .card-price{
        font-size: 12px;
        line-height: 18px;
        color: #0554F2;
    }
    
    /* footer */
    
    .footer {
        background: #191919;
        padding-top: 80px;
    }
    
    
    .group  h6 {
        margin-bottom: 30px;
        font-weight: 800;
        font-size: 14px;
        line-height: 140%;
        text-transform: uppercase;
        color: #FFFFFF;
        opacity: 0.3;
    }
    
    .group  p {
        font-weight: normal;
        font-size: 15px;
        line-height: 160%;
        color: #FFFFFF;
    }
    
    .socical {
        width: 90%;
    }
    
    .socical i {
        padding: 0;
        padding-left: 15px;
    
    }
    
    .contact-icon p{
        margin-top: 20px;
    }
    
    .copyright{
        margin-top: 50px;
        padding-bottom: 20px;
        font-size: 14px;
        line-height: 140%;
        color: #909398;
    }
    .copyright span{
        color:#0554F2;
    }
    
    .copyright-content{
        display: flex;
    }
    
    .lang {
        margin-left: auto;
        order: 2;
    }
    
}

@media only screen and (min-width: 1400px) {
    .product-base-detail-page{
        padding: 32px 14%;
    }
}