.list-product-page {
    .table {
        margin: 0;
        th{
            height: 66px;
            &:first-child {
                padding-left: 8px;
            }
        }
        td {
            height: 84px !important;
            &:first-child {
                padding-left: 8px;
                .design-image {
                    width: 60px;
                    height: 60px;
                    position: relative;
                    border-radius: 4px;
                    object-fit: cover;
                }
            }
        }
    }
}