.product-detail-page {
    .el-upload__text{
        font-weight: 500;
      }
        .content-page{
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          .page-header{
            width: 960px;
            margin: auto;
            .page-header_back{
              .text{
                color: #686B70;
              }
              .page-header_back_icon{
                margin-bottom: 2px;
              }
            }
            .page-header_title{
              margin-bottom: 15px;
            }
          }
          .page-content{
            display: flex;
            justify-content: center;
            .card{
              box-shadow: 0px 4px 32px -14px rgba(0, 0, 0, 0.12);
              border-radius: 8px;
              margin-bottom: 30px;
              padding: 24px;
            }
            .page-content_drag{
              width: 644px;
              .drag-design_name, .drag-mockup_label {
                margin-bottom: 5px;
                font-weight: 700;
                display: block
              }
              .drag-design_mockup, .drag-design_design{
                margin-top: 40px;
              }
              .drag-design_design{
                margin-bottom: 15px;
              }
              .border-color{
                input{
                  border-color: red;
                }
              }
              .detail {
                width: 100%;
                label {
                  margin-bottom: 4px;
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 160%;
                }
                .design-name {
                  img {
                    position: absolute;
                    top: 50%;
                    right: 12px;
                    z-index: 3;
                    margin-top: -7px !important;
                    cursor: pointer;
                  }
                }
                .multiselect--active {
                  .multiselect__tags {
                    background: white;
                    border: 1px solid #37393e;
                  }
              
                  .multiselect__content-wrapper {
                    border: 1px solid #37393e;
                  }
                }
                .list-design-file {
                  max-height: 300px;
                  background: #ffffff;
                  /* Ink / Light */
                  box-sizing: border-box;
                  border-radius: 0px 0px 4px 4px;
                }
                
                .list-group-design {
                  padding: 24px 16px 12px 24px;
                  height: 96px;
                  border: 1px solid rgba(0, 0, 0, 0.125);
                }
                
                .list-group-design:hover {
                  background: #f4f5f6;
                  cursor: pointer;
                }
                
                .dropdown-content-design {
                  width: 100%;
                  z-index: 100;
                  position: absolute;
                  max-height: 348px;
                  display: none;
                  background: #ffffff;
                  /* Ink / Light */
                
                  border: 1px solid #37393e;
                  box-sizing: border-box;
                  border-radius: 0px 0px 4px 4px;
                }
                
                .mockup {
                  min-height: 170px;
                }
                .design {
                  min-height: 170px;
                }
                
                .create-design {
                  height: 48px;
                  border-bottom: 1px solid #37393e;
                  background: #f4f5f6;
                  border-radius: 0px 0px 4px 4px;
                  color: #0554f2;
                }
                
                .create-design img {
                  margin-bottom: 2px;
                }
                
                .create-design {
                  background: #f4f5f6;
                  cursor: pointer;
                }
                
                .design-img {
                  border-radius: 4px;
                  position: relative;
                  width: 146px;
                  height: 146px;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 4px;
                  }
                }
                .container-designs {
                  position: relative;
                  width: 60px;
                  padding-top: 60px;
                }
                
                .container-designs img {
                  position: absolute;
                  top: 0;
                  left: 0;
                  bottom: 0;
                  right: 0;
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  border-radius: 4px;
                }
                
                .design-sku {
                  flex: 1;
                  padding: 19px 24px;
                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 160%;
                  /* or 22px */
                
                  /* Ink / Light */
                
                  color: #37393e;
                }
                
                .design-name img {
                  margin-top: 0px;
                  position: absolute;
                  top: 50%;
                  right: 12px;
                  z-index: 3;
                  margin-top: -7px !important;
                  cursor: pointer;
                }
                
                .active-list {
                  transform: rotate(-180deg);
                  transition: 0.4s;
                }
                .list-design-img {
                  margin-left: -4px;
                  margin-right: 27px;
                  display: flex;
                  overflow-y: auto;
                }
                .list-design-img .design-img {
                  margin: 0 4px 0 4px;
                }
                .input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
                  border-bottom-left-radius: 0 !important;
                  border-bottom-right-radius: 0 !important;
              }
              }
              .page-footer{
                .group-button{
                  float: right;
                  button{
                    margin: 0 4px;
                    &.btn-primary {
                      margin-right: 0;
                    }
                  }
                }
              }
              .design-empty {
                position: relative;
                width: 100%;
                height: 300px;
                img {
                  position: absolute;
                  margin: auto;
                  top: 20%;
                  left: 0;
                  right: 0;
                }
                span {
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 24px;
                  text-align: center;
                  letter-spacing: 0.2px;
                  color: #37393e;
                  position: absolute;
                  margin: auto;
                  top: 60%;
                  left: 0;
                  right: 0;
                }
              }
            }
          }
            .page-content_note{
              width: 300px;
              height: 173px;
              margin-left: 24px;
    
              .note_title-text{
                margin-bottom: 5px;
                font-weight: 700;
                display: inline-block;
                margin-left:5px;
                font-weight: 600;
              }
              .note_content{
                margin-top: 4px;
                color: #686B70;
              }
            }
            .design-error{
              font-size: 12px;
              color: #DB1802;
              line-height: 160%;
              margin-left: 10px;
            }
          }

    .btn-clear {
        background-color: white;
        color: red;
        border: 1px solid red !important;
        box-shadow: none;
      }
      
      .btn-clear:hover {
        color: red;
      }
      
      .btn-clear:focus {
        outline: none !important;
        box-shadow: none !important;
      }
}