.setting-api {
    padding-top: 0px;
    .page-content {
        .setting-section{
            margin: 24px;
            padding: 16px 24px 24px;
            border: unset;
            border-radius: 4px;
            .card-header{
                display: block;
                margin-bottom: 16px;
                border: unset;
                padding: unset;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                color: $color-neutral-10;
                a{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: #006A5E;
                    display: inline-block;
                    margin-left: 10px;
                }
            }
        } 
    }
    #user-token{
        .user-token-input {
            padding: unset;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
        }
        .user-token-note {
            margin-left: 60px;
            font-style: italic;
            font-weight: 400;
            font-size: 12px;
            line-height: 16px;
            color: $color-neutral-7;
            max-width: 484px;
        }
    }
    .lbn-input-setting{
        font-weight: 700;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.75px;
        text-transform: uppercase;
        color: $color-neutral-5;
    }
    .input-setting {
        margin-left: 14px;
        position: relative;
        .p-tooltip{
            &::before{
                bottom: calc(100%);
            }
            &::after{
                width: auto;
                white-space: nowrap;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.2px;
                border-radius: 4px;
                padding: 4px 8px;
                background-color: $color-neutral-9;
                bottom: calc(100% + 5px);
            }
        }
        .tooltip-token {
            position: absolute;
            right: 13px;
            top: 10px;
            z-index: 4;
            cursor: pointer;
        }
        .p-input-group {
            background: #fff;
            width: 500px;
            overflow: hidden;
            border-radius: 8px;
        }
        .tooltip-copy {
            position: absolute;
            top: 10px;
            right: 43px;
            cursor: pointer;
            z-index: 4;
            .tooltip-text {
                position: absolute;
                width: 100px;
                background-color: #37393e;
                z-index: 11;
                text-align: center;
                border-radius: 4px;
                color: #fff;
                top: -27px;
                right: -41px;
            }
        }
        .form-control {
            padding: 12px 80px 12px 16px;
            line-height: 20px;
        }
        &.hidden-password{
            .form-control {
                letter-spacing: 0.1em;
            }
        }
        & + .btn{
            margin-left: 9px;
            padding: 12px 20px;
            line-height: 20px;
        }
    }
    #webhook-url{
        .card-header{
            margin-bottom: 22px;
        }
        .webhook-url-input {
            padding: unset;
            margin-bottom: 16px;
            display: flex;
            align-items: center;   
        }
        .input-setting{
            margin-left: 33px;
        }
    }
}

//setting-account
.setting-account {
    overflow-y: hidden;
    .page-body {
        background: #FFFFFF;
        box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.12), 0px 0.5px 2px rgba(96, 97, 112, 0.26);
        padding: 16px 32px;
        height: calc(100vh - 160px);
        position: relative;
        .account {
            border-bottom: 1px solid #E1E2E2;
            margin-bottom: 16px;
            .title {
                font-weight: bold;
                font-size: 12px;
                line-height: 16px;
                letter-spacing: 0.75px;
                text-transform: uppercase;
                color: $color-neutral-5;
                margin-bottom: 16px;
            }
            .form {
                .col-6 {
                    margin-bottom: 24px;
                    label {
                        text-align: left;
                        margin-bottom: 4px !important;
                        line-height: 22px;
                    }
                    .birthday {
                        .reportrange-text {
                            padding-top: 10px;
                            line-height: 20px;
                            img {
                                margin-top: 3px !important;
                            }
                        }
                        .daterangepicker {
                            top: 45px !important;
                            right: 0 !important;
                            min-width: auto;
                            .drp-calendar {
                                width: 350px;
                            }
                            .ranges {
                                display: none;
                            }
                            .opensleft {
                                left: 0;
                            }
                        }
                    }
                    .clear {
                        border: 1px solid #ccc;
                        width: 40px;
                        height: 40px;
                        background: #FFFFFF;
                        border-radius: 12px;
                        padding: 0px 10px;
                    }
                }
                .left {
                    padding-right: 12px;
                }
                .right {
                    padding-left: 12px;
                }
            }
        }
        .note {
            position: relative;
            img {
                position: absolute;
                display: inline-block;
                top: 5px;
            }
            p {
                margin-left: 20px;
                display: inline-block;
                font-size: 12px;
                line-height: 16px;
                color: #626363;
                .text {
                    font-style: italic;
                }
            }
        }
        .save {
            position: absolute;
            right: 32px;
            top: 315px;
        }
        .form-control {
            height: 40px
        }
        .form-control-icon-right {
            top: 20px
        }
    }
    .required {
        color: #F5222D;
    }
}
.list__coupon{
    .card{
        background-color: unset !important;
        border: unset !important;
    }
    .card-body{
     padding-top: 0 !important;
    }
    .item{
        background-image: url("~@/assets/img/coupon_bg_image.png");
        height: 168px;
        border-radius: 8px;
        background-size: cover;
        margin: -8px -8px;
        .icon{
            width: 160px;
            padding-left: 66px;
        }
        .txt{
            width: calc(100% - 360px);
            .cp-code{
                color: #13C2C2;
                border-radius: 40px;
                background:  #E6FFFB;
                border: solid 1px #87E8DE;
                padding: 2px 6px;
                margin-right: 4px;
                display: inline-block;
                text-align: center;
                width: 150px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                float: left;
                font-size: 10px;
                line-height: 14px;
                font-weight: 600;
                text-transform: uppercase;
            }
            .cp-count{
                border-radius: 40px;
                background:  #F6F7F7;
                border: 1px solid  #E1E2E2;
                padding: 2px 6px;
                color:  #898A8A;
                font-size: 10px;
                line-height: 14px;
                font-weight: 600;
                text-transform: uppercase;
            }
            h2{
                font-family: Be Vietnam Pro;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px;
                color: #111212;
                margin:8px 0;
            }
            p{
                font-family: Be Vietnam Pro;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                margin-bottom: 0;
                color: #313232;
            }
        }
        .action{
           margin-right: 24px;
           text-align: right;
           svg{
                margin-top: -3px;
           }
           div {
                margin-top: 12px;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                color: #898A8A;
           }
        }
    }
    .disabled{
        opacity: 0.5;
        .action{
            .btn{
                cursor: not-allowed;
                pointer-events: none;
            }
        }
    }
    .modal__detail-coupon{
        .header_title{
            margin-left: 20px;
            h2{
                font-family: Be Vietnam Pro;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 28px; 
                margin-bottom: 2px;
            }
            .coupon-type{
                font-family: Be Vietnam Pro;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                color: #898A8A;
                border-radius: 20px;
                background-color: #F6F7F7;
                padding: 2px 4px;
            }
        }
        .p-modal-content {
            width: 400px;
            border-radius: 4px;
            .modal-content{
                border-radius: 4px;
            }
        }
        .row{
            margin-bottom: 12px;
            div:first-child{
                font-family: Be Vietnam Pro;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                color: #898A8A;
            }
            div:last-child{
                font-family: Be Vietnam Pro;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px;
                color: #313232;
            }
        }
        .badge-status{
            &.badge-primary{
                background-color: #F0FFF3;
                color: #48BE78;
            }
            &.badge-default{
                color: #CFD0D0;
                background-color: #F6F7F7;
            }
        }
    }
}