// :root {
//     --search-width: 440px;
// }
// @media all and (max-width: 1366px) {
//      :root {
//         --search-width: 324px;
//     }
// }
.tracking_page {
    background-color: $color-neutral-1;
    min-height: 100vh;
    margin-top: 40px;
}

.search__section {
    position: relative;
    padding-top: 140px;
    .title {
        margin-bottom: 40px;
        width: 680px;
        margin-right: auto;
        margin-left: auto;
        h2 {
            font-weight: bold;
            font-size: 32px;
            line-height: 48px;
            color: $color-neutral-10;
            margin-bottom: 4px;
        }
        span {
            font-size: 14px;
            line-height: 20px;
            color: $color-neutral-9;
        }
    }
    .search-form {
        z-index: 3;
        width: 680px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 6px;
        position: relative;
        .search-input {
            // width: 545px;
            outline: none;
            .input-1 {
                position: absolute;
                border: 1px solid #141F65;
                box-sizing: border-box;
                border-radius: 8px;
                width: 545px;
                height: 56px;
                padding-left: 16px;
                // padding-top: 16px;
                font-size: 14px;
                line-height: 24px;
                color: $color-neutral-9;
                &::placeholder {
                    color: $color-neutral-5;
                }
            }
            .input-multi {
                visibility: hidden;
                transition: .3s, height .3s ease-in;
                opacity: 0;
                width: 545px;
                height: 56px;
                padding-left: 16px;
                font-size: 14px;
                line-height: 22px;
                color: $color-neutral-9;
                // border: 1px solid #141F65;
                box-sizing: border-box;
                border-radius: 8px;
                flex-direction: column;
                padding-top: 16px;
                padding-bottom: 0px;
                background-color: #ffffff;
                overflow-y: auto;
                resize: none;
                outline: none;
                &-open {
                    // display: block;
                    visibility: visible;
                    opacity: 1;
                    transition: .3s, height .3s ease-in;
                    height: 300px;
                    padding: 0;
                }
                &::placeholder {
                    font-size: 14px;
                    line-height: 24px;
                    color: $color-neutral-5;
                }
            }
            .modal-tracking {
                width: 680px;
                padding: 0;
                overflow: hidden;
                background-color: $color-neutral-1;
                .search {
                    height: 300px;
                }
                .wrapper {
                    height: 300px;
                    width: 545px;
                    border: 1px solid #141F65;
                    border-radius: 8px;
                    .input {
                        height: 100%;
                        border-radius: 8px;
                    }
                    .showNum {
                        bottom: 0
                    }
                }
                .button-group {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    z-index: 2;
                    width: 127px;
                    .btn {
                        width: 127px;
                        height: 56px;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
            }
        }
        .button-group {
            width: 127px;
            display: flex;
            flex-direction: column;
            position: absolute;
            right: 0;
            bottom: 0;
            .btn {
                width: 127px;
                height: 56px;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                &-tracking {
                    color: #ffffff;
                    background-color: #141F65;
                    &:hover {
                        background-color: $color-turquoise-6;
                    }
                }
                &-clear {
                    color: $color-neutral-9;
                    background-color: $color-neutral-3;
                    margin-bottom: 8px;
                    &:hover {
                        background-color: $color-neutral-2;
                    }
                    &:disabled {
                        background-color: $color-neutral-2;
                        color: $color-neutral-4;
                        cursor: not-allowed;
                        pointer-events: all !important;
                    }
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
    .wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
    .text-err {
        width: 545px;
        margin-right: auto;
        margin-left: auto;
        height: 32px;
        background: #FFF1F0;
        font-size: 14px;
        line-height: 22px;
        color: #F5222D;
        display: table-cell;
        vertical-align: middle;
        padding-left: 10px;
        img {
            margin-right: 5px;
        }
    }
}

.tracking__section {
    .tracking__header {
        // height: 96px;
        background-color: #ffffff;
        height: 68px;
        padding: 0px 24px;
    }
    .filter_tab {
        display: flex;
        position: relative;
        ul {
            list-style-type: none;
            height: 68px;
            margin: 0;
            padding: 0;
            overflow: hidden;
            padding-top: 24px;
        }
        li {
            float: left;
            padding-left: 0;
            padding-right: 0;
            margin-right: 20px;
        }
        li a {
            position: relative;
            color: $color-neutral-10;
            text-align: center;
            text-decoration: none;
            padding: 0 4px;
            line-height: 24px;
            font-weight: 500;
            display: flex;
            align-items: center;
            &.processing {
                color: #00ABFB;
                &.active {
                    &:after {
                        border-bottom: 1px solid #00ABFB !important;
                    }
                }
            }
            &.in-transit {
                color: #13C2C2;
                &.active {
                    &:after {
                        border-bottom: 1px solid #13C2C2 !important;
                    }
                }
            }
            &.delivered {
                color: #48BE78;
                &.active {
                    &:after {
                        border-bottom: 1px solid #48BE78 !important;
                    }
                }
            }
            &.undelivered {
                color: #F5222D;
                &.active {
                    &:after {
                        border-bottom: 1px solid #F5222D !important;
                    }
                }
            }
            &.warning {
                color: #FA8C16;
                &.active {
                    &:after {
                        border-bottom: 1px solid #FA8C16 !important;
                    }
                }
            }
            &.expried {
                color: #820014;
                &.active {
                    &:after {
                        border-bottom: 1px solid #820014 !important;
                    }
                }
            }
            // &.disabled {
            //     color: $color-neutral-6;
            // }
            &.notfound {
                color: $color-neutral-6;
                &.active {
                    &:after {
                        border-bottom: 1px solid $color-neutral-6 !important;
                    }
                }
            }
            svg {
                margin-right: .5rem;
            }
        }
        li a.active {
            // color: $color-neutral-10;
            // // background-color: #141F65;
            // // border-radius: 4px;
            &:after {
                border-bottom: 1px solid $color-neutral-10 !important;
                width: auto;
                margin-top: 62px;
            }
            // svg {
            //     path {
            //         fill: #FFFFFF;
            //     }
            // }
            // &.processing {
            //     background-color: #00ABFB;
            // }
            // &.in-transit {
            //     background-color: #13C2C2;
            // }
            // &.delivered {
            //     background-color: #48BE78;
            // }
            // &.warning {
            //     background-color: #FA8C16;
            // }
        }
        .btn-tracking {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            color: #ffffff;
            background-color: #141F65;
            &:hover {
                background-color: #00978C;
            }
            &-large {
                height: 48px;
            }
        }
    }
    .tracking {
        padding: 0 24px;
        display: flex;
        .table-tracking {
            margin-top: 0;
            padding: 0;
            position: relative;
            font-size: 14px;
            line-height: 24px;
            color: $color-neutral-9;
            thead {
                th,
                tr {
                    height: 46px;
                    border-bottom: 1px solid $color-neutral-4;
                }
            }
            tbody {
                background-color: white;
            }
            // .tbody-opened {
            //     +.tbody-opened {
            //         .sperate {
            //             display: table-cell;
            //         }
            //     }
            // }
            th {
                font-weight: bold;
                font-size: 10px;
                line-height: 14px;
                color: $color-neutral-10;
                .btn-action-icon {
                    float: right;
                    svg {
                        width: 32px;
                        height: 32px;
                        margin-left: 4px;
                        cursor: pointer;
                        path {
                            stroke: $color-neutral-9;
                        }
                        // &:hover {
                        //     path {
                        //         stroke: #313232
                        //     }
                        // }
                        rect {
                            fill: white
                        }
                    }
                }
                .lb-tooltip {
                    &.hover,
                    &:hover {
                        &:before {
                            top: -5px;
                            left: 8px;
                        }
                        &:after {
                            bottom: calc(100% + 5px);
                            left: -10px;
                        }
                    }
                }
            }
            tr {
                height: 84px;
                td {
                    border: none;
                    &:first-child {
                        padding-left: 12px
                    }
                }
            }
            .sperate {
                height: 4px;
            }
            .icon {
                text-align: right;
                padding-right: 12px;
                div {
                    height: 20px;
                    width: 20px;
                    float: right;
                    svg {
                        width: 24px;
                        height: 24px;
                        rect {
                            fill: none;
                        }
                        path {
                            stroke: $color-neutral-5;
                        }
                    }
                }
            }
            .log-detail {
                display: none;
                &-active {
                    display: table-row;
                    transition: .3s;
                }
            }
            .badge-round {
                background-color: transparent;
                padding-left: 0;
                font-weight: normal;
            }
            .location {
                font-size: 14px;
                line-height: 20px;
                color: $color-neutral-6;
            }
            .opened {
                background-color: #141F65;
                border-radius: 8px 8px 0px 0px;
                transition: .3s;
                .badge-round,
                .location {
                    color: #FFFFFF;
                }
                td {
                    border: none;
                    color: #FFFFFF;
                }
                .icon {
                    svg {
                        path {
                            stroke: $color-neutral-5;
                        }
                    }
                }
            }
            .tracking-detail {
                td {
                    border-bottom: 1px solid #141F65;
                    &:first-child {
                        border-left: 1px solid #141F65;
                        // border-bottom-left-radius: 8px;
                    }
                    &:last-child {
                        border-right: 1px solid #141F65;
                        // border-bottom-right-radius: 8px;
                    }
                }
                .status {
                    padding: 24px 24px 0 24px;
                    text-transform: capitalize;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 28px;
                    color: $color-neutral-10;
                    &:after {
                        content: "";
                        display: block;
                        border-bottom: 1px solid $color-neutral-3;
                        margin-top: 16px;
                    }
                    .copy {
                        float: right;
                        a {
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 20px;
                            color: $color-neutral-10;
                        }
                        svg {
                            margin-right: 4px;
                        }
                        .lb-tooltip {
                            &:after,
                            &:before {
                                opacity: 0;
                                transition: .3s;
                            }
                            &.copied {
                                &:after,
                                &:before {
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                .timeline-new {
                    padding: 24px;
                    padding-left: 50px;
                    .item__right {
                        margin-bottom: 24px;
                    }
                    .item__right__data {
                        .location {
                            margin-left: 5px;
                        }
                        .time {
                            width: 80px;
                        }
                    }
                }
            }
            .fade-enter-active {
                transition: opacity 2s;
            }
            .fade-leave-active {
                transition: opacity 0.5s;
            }
            .fade-enter,
            .fade-leave-active {
                opacity: 0;
            }
            .not-found {
                span {
                    font-size: 14px;
                    color: $color-neutral-7
                }
                .error {
                    color: #F5222D;
                }
            }
        }
        .pagination-box {
            margin-top: 24px;
        }
    }
}

//tracking-modal
.modal-tracking {
    padding-top: 24px;
    padding-left: 24px;
    .modal-header,
    .modal-footer {
        display: none;
    }
    .modal-body {
        overflow: hidden;
    }
    .search {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        border-radius: 8px;
        .search-input {
            outline: none;
            position: relative;
            background: white;
            border-radius: 8px;
            .wrapper {
                height: 315px;
                border: 1px solid #6CCCC8;
                box-sizing: border-box;
                border-radius: 8px;
                overflow: hidden;
                margin-bottom: 8px;
                .showNum {
                    position: absolute;
                    bottom: 1px;
                    border-bottom-left-radius: 8px;
                    color: $color-neutral-5;
                    font-size: 14px;
                    line-height: 20px;
                    /* right: 25px; */
                    width: calc(100% - 17px);
                    height: 48px;
                    padding-right: 16px;
                    padding-left: 8px;
                    background: white;
                    align-items: center;
                    svg {
                        cursor: pointer;
                    }
                }
                .input {
                    height: 315px;
                    // padding-top: 12px;
                    padding-bottom: 48px;
                    font-size: 14px;
                    line-height: 22px;
                    color: $color-neutral-9;
                    flex-direction: column;
                    display: flex;
                    background-color: #ffffff;
                    overflow-y: auto;
                    resize: none;
                    outline: none;
                    &::placeholder,
                    .placeholder {
                        font-size: 14px;
                        line-height: 22px;
                        color: $color-neutral-5;
                        padding-left: 36px;
                    }
                    .txt {
                        border: none;
                        padding: 7px 30px 4px 36px;
                        font-size: 14px;
                        line-height: 22px;
                        color: $color-neutral-9;
                        position: relative;
                        height: 32px;
                        // height: fit-content;
                        .number {
                            color: $color-neutral-5;
                            // margin-right: .5rem;
                            position: absolute;
                            left: 12px;
                        }
                        &:focus {
                            outline: none;
                        }
                        .fa-times {
                            position: absolute;
                            right: 15px;
                            top: 50%;
                            transform: translateY(-50%);
                            cursor: pointer
                        }
                        &:nth-child(odd) {
                            background-color: $color-neutral-1;
                            .fa-times {
                                -webkit-text-stroke: 2px $color-neutral-1;
                            }
                        }
                        &:nth-child(even) {
                            background-color: #ffffff;
                            .fa-times {
                                -webkit-text-stroke: 2px white;
                            }
                        }
                        &:not(:first-child) {
                            &::placeholder {
                                color: $color-neutral-5;
                            }
                        }
                    }
                    input {
                        background-color: transparent!important;
                        width: 100%;
                        // padding-left: 12px !important;
                    }
                    .number {
                        color: $color-neutral-5;
                        // margin-right: .5rem;
                        position: absolute;
                        left: 12px;
                        top: 7px;
                    }
                    .placeholder.hidden {
                        display: none;
                    }
                }
            }
        }
        .button-group {
            // width: 127px;
            // display: flex;
            // flex-direction: column;
            // position: absolute;
            // right: 0;
            // bottom: 0;
            float: right;
            width: 100%;
            .btn {
                height: 48px;
                font-weight: 500;
                font-size: 14px;
                line-height: 24px;
                &-tracking {
                    color: #ffffff;
                    background-color: #141F65;
                    width: 100%;
                    &:hover {
                        background-color: #00978C;
                    }
                }
                &-clear {
                    color: $color-neutral-9;
                    background-color: $color-neutral-3;
                    // margin-bottom: 8px;
                    margin-right: 8px;
                    &:hover {
                        background-color: $color-neutral-2;
                    }
                    &:disabled {
                        background-color: $color-neutral-2;
                        color: $color-neutral-4;
                        cursor: not-allowed;
                        pointer-events: all !important;
                    }
                }
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}