//wallet 
.wallet {

}

//modal
.modal-recharge-wallet{
    .modal-body {
        padding:24px 16px;
        max-height: none;
        .payments{
            display:flex;
            justify-content: space-between;
            font-size: 14px;
            line-height: 22px;
            color: #313232;
            margin-bottom: 16px;
            .usd {
                border-radius: 4px;
                width: 167px;
                height: 22px;
                color: #F5222D;
                text-align: center;
                background-color: #FFF1F0; 
            }
        }
        .tab {
            display:flex;
            justify-content: space-between;
            height: 40px;
            .active {
                padding-left: 16px;
                padding-top: 7px;
                width:calc(100%/3);
                background: #00B4C3;
                border-radius: 4px 4px 0px 0px; 
                font-weight: bold;
                font-size: 16px;
                line-height: 24px;
                color: #FFFFFF;
            }
            .deactive {
                padding-left: 16px;
                padding-top: 7px;
                width:calc(100%/3);
                background: #F6F7F7;
                color: #626363;
                border-radius: 4px 4px 0px 0px;
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
                span {
                    font-style: italic;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: #898A8A;
                }
            }
        }
        .card {
            border: 1px solid #CFD0D0;
            box-sizing: border-box;
            border-radius: 0px 0px 4px 4px;
            padding: 16px 16px 38px 16px;
            font-size: 14px;
            line-height: 22px;
            color: #313232;
            margin-bottom: 16px;
            p {
                position: relative;
                &:first-child {
                    margin-bottom: 18px;
                }
                span {
                    font-weight: 600;
                    color: #111212;
                    margin-right: .5rem;
                }
                .copy {
                    position:relative;
                    img {
                       margin-bottom: 4px;
                        cursor: pointer;
                    }
                    .tooltip-text {
                        visibility: hidden;
                        width: 129px;
                        height: 32px;
                        background: #FFFFFF;
                        box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
                        border-radius: 4px;
                        font-style: italic;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                        color: #313232;
                        position: absolute;
                        bottom: 25px;
                        left: -12px;
                        text-align: center;
                        padding-top: 7px;
                        z-index: 1;
                        opacity: 0;
                        transition: opacity 0.3s;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 20px;
                            margin-left: -5px;
                            border-width: 5px;
                            border-style: solid;
                            border-color: #fff transparent transparent transparent;
                        }
                    }
                    &:hover {
                        .tooltip-text {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }

            }
            .money {
                .title {
                    margin-right: 12px;
                    padding: 8px 0;
                }
                .input-group {
                    width:80%;
                    margin-right: 5px
                }
                span {
                    padding: 8px 0;
                }
            }
            .invalid-error {
                margin-top: 5px;
                text-align: center;
            }
        }

        .note {
            img {
                margin-right: .5rem;
            }
        }
    }
}