//wallet 
.wallet {
    .page-header {
        width: 1080px;
        margin: 0 auto;
        padding: 0;
        position: relative;
        .header {
            font-style: normal;
            font-weight: normal;
            font-size: 36px;
            line-height: 54px;
            color: $color-neutral-10;
            margin-top: 6px;
            margin-bottom: 24px;
        }
        .navtab-link {
            .nav-tabs {
                border-bottom: none;
                .nav-link {
                    margin-right: 35px;
                    &.active {
                        background-color: unset;
                        color: $color-neutral-10;
                    }
                }
            }
        }
        .info-money {
            width: 528px;
            height: 148px;
            background: #FFFFFF;
            box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
            border-radius: 12px;
            position: absolute;
            top: 14px;
            right: 0;
            padding: 16px 16px 24px 16px;
            img {
                margin-right: 8px;
                height: 40px;
                margin-top: 4px;
            }
            .wallet {
                display: flex;
                flex-direction: column;
                .title {
                    font-weight: 500;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.2px;
                    color: $color-neutral-6
                }
                .money {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 28px;
                    letter-spacing: 0.2px;
                    color: $color-neutral-9;
                }
            }
            .balance {
                width: 55%;
                border-right: 1px solid $color-neutral-3;
                .money {
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 36px;
                    color: $color-neutral-10
                }
            }
            .process-money {
                padding-left: 24px;
            }
            button {
                margin-left: 48px;
                margin-top: 24px;
                border: 1px solid $color-turquoise-4;
                color: $color-turquoise-4;
                background-color: white;
                &:focus,
                &:active {
                    color: white;
                    border-color: $color-turquoise-4;
                    box-shadow: none;
                }
            }
        }
    }
    .page-body {
        padding-top: 62px;
        padding-bottom: 32px;
        background-color: #ffffff;
        .transaction-log {
            width: 1080px;
            margin: 0 auto;
            box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
            border-radius: 8px;
            padding-top: 16px;
            .title {
                padding: 0 16px;
                margin-bottom: 12px;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
                letter-spacing: 0.2px;
                color: #000000;
            }
            .search {
                display: flex;
                justify-content: space-between;
                padding: 0 16px;
                margin-bottom: 16px;
                .multiselect-transaction {
                    display: flex;
                    height: 48px;
                    margin-right: 8px;
                    width: 100%;
                    .multiselect__tags {
                        height: 48px;
                        border: 1px solid #E5E7ED;
                        box-sizing: border-box;
                        border-radius: 12px;
                        background-color: #ffffff;
                        .multiselect__single,
                        .multiselect__placeholder {
                            margin-top: 7px;
                            background-color: #ffffff;
                            color: $color-neutral-5;
                            padding-top: 0;
                            font-family: "Be VietNam", sans-serif;
                        }
                    }
                    .multiselect__select {
                        top: 0px
                    }
                    .multiselect--active .multiselect__select {
                        transform: none
                    }
                    .multiselect--active .multiselect__tags {
                        border: 1px solid #111212;
                        border-radius: 12px 12px 0px 0px;
                    }
                    .multiselect__input {
                        font-size: 14px;
                        margin-top: 7px;
                        background-color: #ffffff;
                        color: #111212;
                        padding-top: 0;
                        padding-left: 5px;
                        font-family: "Be VietNam", sans-serif;
                    }
                    .multiselect__content-wrapper {
                        border: 1px solid #111212;
                        border-radius: 0px 0px 8px 8px;
                        max-height: none;
                    }
                }
                #date-search {
                    width: 300px;
                    .form-control {
                        height: 48px;
                    }
                    &+.close {
                        width: 48px;
                        height: 48px;
                        border: 1px solid #ccc;
                        border-radius: 12px;
                        background-color: #ffffff
                    }
                    .calendars {
                        min-width: 400px;
                    }
                    .show-ranges {
                        min-width: 712px;
                    }
                    .reportrange-text>div {
                        line-height: 35px;
                        font-weight: normal;
                        .label-date-picker {
                            color: $color-neutral-5;
                        }
                    }
                    .opensleft {
                        right: 0px;
                    }
                }
            }
            .content {
                .transaction-info {
                    padding: 16px;
                    flex-direction: unset;
                    border-bottom: 1px solid $color-neutral-3;
                    .info-left {
                        display: flex;
                        img {
                            margin-right: 12px;
                        }
                        .infor {
                            display: flex;
                            flex-direction: column;
                            .transaction-title {
                                font-size: 14px;
                                line-height: 22px;
                                color: $color-neutral-9;
                            }
                            span {
                                font-style: italic;
                                font-size: 12px;
                                line-height: 16px;
                                color: $color-neutral-7;
                            }
                        }
                    }
                    .info-right {
                        display: flex;
                        flex-direction: column;
                        span {
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 22px;
                            text-align: right;
                            color: #111212;
                        }
                        .badge {
                            font-weight: normal;
                            background: #FFFFFF;
                            padding: 0;
                            font-size: 12px;
                            line-height: 16px;
                            border: none;
                            &-success {
                                color: #48BE78
                            }
                            &-pending {
                                color: #AAABAB
                            }
                            &-danger {
                                color: #F5222D;
                            }
                            &-info {
                                color: #17a2b8;
                            }
                        }
                    }
                    &:last-child {
                        border-bottom: none;
                    }
                }
            }
        }
        .paginate {
            width: 1080px;
            margin-left: auto;
            margin-right: auto;
            .pagination-box {
                margin: 0;
                .select_limit_box {
                    display: none;
                }
            }
        }
    }
}

//top-up
.top-up {
    width: 1080px;
    margin: auto;
    padding-top: 8px;
    .method {
        display: flex;
        flex-direction: column;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        i {
            font-size: 4px;
            margin-right: 8px
        }
        .active {
            display: flex;
            align-items: center;
            color: $color-neutral-10;
        }
        .deactive {
            color: $color-neutral-6;
            i {
                visibility: hidden;
            }
            span {
                font-style: italic;
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    .form-topup {
        width: 805px;
        padding-top: 16px;
        .title {
            color: $color-neutral-9;
        }
        .card {
            margin-top: 24px;
            background: #FFFFFF;
            box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04), 0px 2px 4px rgba(96, 97, 112, 0.16);
            border-radius: 8px;
            padding: 16px 24px 28px 24px;
            p {
                position: relative;
                margin-bottom: 12px;
                font-size: 12px;
                line-height: 16px;
                color: $color-neutral-7;
                span {
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 22px;
                    color: $color-neutral-10;
                }
                .copy {
                    position: relative;
                    margin-left: 4px;
                    img {
                        margin-bottom: 4px;
                        cursor: pointer;
                    }
                    .tooltip-text {
                        visibility: hidden;
                        width: 129px;
                        height: 32px;
                        background: #FFFFFF;
                        box-shadow: 0px 0px 2px rgba(40, 41, 61, 0.04), 0px 4px 8px rgba(96, 97, 112, 0.16);
                        border-radius: 4px;
                        font-style: italic;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                        color: #313232;
                        position: absolute;
                        bottom: 25px;
                        left: -12px;
                        text-align: center;
                        padding-top: 7px;
                        z-index: 1;
                        opacity: 0;
                        transition: opacity 0.3s;
                        &:after {
                            content: "";
                            position: absolute;
                            top: 100%;
                            left: 20px;
                            margin-left: -5px;
                            border-width: 5px;
                            border-style: solid;
                            border-color: #fff transparent transparent transparent;
                        }
                    }
                    &:hover {
                        .tooltip-text {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
            }
            .money {
                .title {
                    font-size: 12px;
                    line-height: 16px;
                    color: $color-neutral-7;
                    margin-bottom: 8px;
                }
                .input {
                    position: relative;
                    width: 618px;
                    margin-right: 8px;
                    input {
                        border: 1px solid $color-neutral-4;
                        box-sizing: border-box;
                        border-radius: 12px;
                        padding: 13px 16px;
                        height: 48px;
                        font-family: "Be Vietnam";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 28px;
                        color: #000000;
                        width: 100%;
                        &:focus {
                            border-color: #80bdff;
                        }
                        &::placeholder {
                            font-weight: normal;
                            color: $color-neutral-4;
                        }
                    }
                    span {
                        position: absolute;
                        right: 16px;
                        top: 24px;
                        transform: translateY(-50%);
                        font-size: 14px;
                        line-height: 22px;
                        color: $color-neutral-4;
                    }
                }
                button {
                    height: 48px;
                    width: 131px;
                }
            }
            .invalid-error {
                margin-top: 5px;
                text-align: center;
            }
            .money-transfer {
                margin-top: 14px;
                font-size: 12px;
                line-height: 16px;
                color: $color-neutral-7;
                img {
                    margin-right: 5px;
                }
            }
        }
    }
}