
$bg-start: $color-primary;
$bg-end:  #1571b1;

.page-login-v3 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family-sans-serif;
  background-color: transparent;
  .page {
    min-height: 0;
  }

  .panel {
    width: 470px;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    border-radius: 0%;
    .panel-heading {
      position: absolute;
      transform: translateY(-50%);
      padding: 20px 0;
      left: 20px;
      right: 20px;
      margin-bottom: 15px;
      border-radius: 5px;
      box-shadow: 0 12px 20px -10px rgba(39, 55, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(39, 44, 176, 0.2);
      background: $color-primary;
    }
    .panel-body {
      padding: 0 !important;
      .brand{
        text-align: left;
        margin-bottom: 40px;
        h2{
          margin:0 0 8px 0;
          line-height: 120%;
        }
        span{
          line-height: 160%;
          color: $color-success;
        }
      }

    }

    margin-bottom: 0;
    background: #fff;
    border-radius: 4px;

  }

  form {
    .form-material.floating  {
      & + & {
        margin-top: 30px;
      }
    }

    .form-material label {
      color: #a3afb7;
      font-weight: $font-weight-normal;
    }
  }
  .container-fluid {
    width: 100%;
    padding: 0;
    margin: 0;
    .row{
      width: 100%;
      height: 100%;
      display: flex;
      padding: 0;
      margin: 0;
      .img{
        height: auto;
        width: 25%;
        background-image: url('~@/assets/img/base.jpg');
        background-size: cover;
        position: relative;
        .img_logo{
          position: absolute;
          top: 40px;
          left: 40px;
          .img_logo-img{
            width: 57px;
            height: 72px;
          }
        }
        .img_text{
          position: absolute;
          bottom:40px;
          left: 40px;
          .img_text-span{
            color: #fff;
            text-transform: uppercase;
            font-size: 1.4rem;
            font-weight: $font-weight-bold;
            line-height: 22.4px;
            letter-spacing: 0.75px;
            display: block;
            max-width: 270px;
            min-height: 40px;
          }
        }
      }
      .content{
        flex: 1;
        top: 0;
        bottom:0;
        height: 100vh; /* viewport height */
        overflow-y: scroll;
        overflow-x: hidden;
        background-color:white;
        position: relative;
        padding: 0;
        margin: 0;
        .content_help{
          position: absolute;
          top: 32px;
          right: 44px;
          min-width: 103px;
          height: 22px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          .content_help-icon{
            width: 16px;
            height: 16px;
          }
          .content_help-text, a{
            letter-spacing: 0.2px;
            margin-left: 4px;
            color:  $color-neutral-10;
            font-size: 12px;
          }
        }
        .logo_tablet{
          display: none;
        }
        .logo_mobile{
          display: none;
        }
        .form{
          width: 470px;
          height: 620px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          .vertical-align-middle{
            position: absolute;
            top: 15%;
            width: 100%;
          }
          form{
            label{
              text-align: left;
              margin-bottom: 4px !important;
            }
            .label{
              display: flex;
              justify-content: space-between;
              .redirect{
                color: $color-java-blue-10 ;
                &:hover{
                  color: $color-java-blue-7 ;
                  cursor: pointer;
                }
              }
            }
            .qinput{
              margin-bottom: 16px;
            }
            .new-member{
              color: $color-neutral-9;
            }
          }
          .creatAcount{
            margin-left: 4px;
            text-decoration: $color-java-blue-10  underline ;
            color: $color-java-blue-10;
          }
        }
      }
    }
  }
  .p-button.btn-loading{
    background: #4A6FF6;
    cursor: not-allowed !important;
  }
  .verify-email {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 120%;
    }
    p {
      line-height: 160%;
    }
    .tip {
      font-size: 12px;
      line-height: 160%;
      color: #686B70;
    }
  }
  .backSignin {
    margin: 0 !important;
    text-decoration: #0554f2 underline;
    color: #37393e;
    line-height: 160%;
    text-align: center;
    font-weight: 600;
  }

  .invalid-error {
    width: 100%;
    margin-top: 10px;
    font-size: 12px;
    color: #db1802;
  }
}
.police{
  &__text{
    color: $color-neutral-9;
    font-size: 12px;
    &-link{
      color: $color-java-blue-10;
    }
  }

}
//@include media-breakpoint-down(xs) {
//  .page-login-v3 {
//    .page-content {
//      padding: 30px 20px;
//    }
//
//    .panel {
//      width: auto;
//      padding: 10px;
//
//      .panel-body {
//        padding: 35px 25px 35px;
//      }
//    }
//  }
//}
@media(max-width:1023px) {
  .page-login-v3 {
    .container-fluid{
      .row{
        .disable-moblie {
          display: none;
        }
      }
    }


  }
}
@media(min-width:740px) and (max-width:1023px){
  .page-login-v3 {
    .hide-tablet{
      display: none;
    }

    .logo_tablet{
      position: absolute;
      left: 50%;
      top: 6%;
      transform: translateX(-50%);
      display: block;
    }
    .form{
      width: 470px;
      height: 620px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .header-2{
        text-align: center !important;

      }
      .brand-text-little{
        text-align: center;
        display: block;
      }
    }
  }

}
@media(max-width:739px) {
  .page-login-v3{
    .container-fluid{
      .row{
        .content{
          .hide-tablet{
            display: none;
          }
          .logo_mobile {
            position: absolute;
            left: 50%;
            top: 4.9%;
            transform: translateX(-50%);
            display: block;
          }
          .form {
            width: 315px;
            height: 661px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            .btn{
              width: 100%;
            }
            .header-2{
              text-align: center !important;
            }
            .brand-text-little{
              text-align: center;
              display: block;
            }
          }
        }
      }
    }
  }

}
@media(min-width:740px) and (max-width:1023px){
  .page-login-v3{
    .container-fluid{
      .row{
        .content{
          .hide-tablet{
            display: none;
          }
          .logo_tablet{
            position: absolute;
            left: 50%;
            top: 7.5%;
            transform: translateX(-50%);
            display: block;
          }
          .form{
            width: 470px;
            height: 620px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
    }
  }
}
@media(max-height:570px) {
  .page-login-v3{
    .container-fluid{
      .row{
        .content{
          .hide-tablet{
            display: none;
          }
          .logo_tablet {
            display: none;
          }
          .logo_mobile{
            display: none;
          }
        }
      }
    }
  }
}