$bg-start: $color-primary;
$bg-end: #1571b1;
.page-login-v3 {
    display: flex;
    font-family: $font-family-sans-serif;
    background-color: #FFFFFF;
    max-height: 100vh;
    .sign-in,
    .sign-up {
        .form-control {
            height: 44px;
        }
        .form-control-icon-right {
            top: 22px
        }
    }
    .panel {
        width: 470px;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: none;
        border: none;
        margin-bottom: 0;
        border-radius: 0%;
        .panel-heading {
            position: absolute;
            transform: translateY(-50%);
            padding: 20px 0;
            left: 20px;
            right: 20px;
            margin-bottom: 15px;
            border-radius: 5px;
            box-shadow: 0 12px 20px -10px rgba(39, 55, 176, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(39, 44, 176, 0.2);
            background: $color-primary;
        }
        .panel-body {
            padding: 0 !important;
            .brand {
                text-align: left;
                margin-bottom: 40px;
                h2 {
                    margin: 0 0 8px 0;
                    line-height: 120%;
                }
                span {
                    line-height: 160%;
                    color: $color-success;
                }
            }
        }
        margin-bottom: 0;
        background: #fff;
        border-radius: 4px;
    }
    form {
        .form-material.floating {
            &+& {
                margin-top: 30px;
            }
        }
        .form-material label {
            color: #a3afb7;
            font-weight: $font-weight-normal;
        }
    }
    .container-fluid {
        width: 100%;
        padding: 0;
        margin: 0;
        .row {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 0;
            margin: 0;
            .content {
                flex: 1;
                top: 0;
                bottom: 0;
                height: 100vh;
                /* viewport height */
                overflow-y: scroll;
                overflow-x: hidden;
                background-color: white;
                position: relative;
                padding: 0;
                margin: 0;
                .content_help {
                    position: absolute;
                    top: 32px;
                    right: 44px;
                    min-width: 103px;
                    height: 22px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    .content_help-icon {
                        width: 16px;
                        height: 16px;
                    }
                    .content_help-text,
                    a {
                        letter-spacing: 0.2px;
                        margin-left: 4px;
                        color: $color-neutral-10;
                        font-size: 12px;
                    }
                }
                .logo_tablet {
                    display: none;
                }
                .logo_mobile {
                    display: none;
                }
                .form {
                    width: 384px;
                    height: 620px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .vertical-align-middle {
                        position: absolute;
                        top: 15%;
                        width: 100%;
                    }
                    form {
                        label {
                            text-align: left;
                            margin-bottom: 4px !important;
                        }
                        .label {
                            display: flex;
                            justify-content: space-between;
                            .redirect {
                                color: $color-java-blue-10;
                                &:hover {
                                    color: $color-java-blue-7;
                                    cursor: pointer;
                                }
                            }
                        }
                        .qinput {
                            margin-bottom: 16px;
                        }
                        .new-member {
                            color: $color-neutral-9;
                        }
                    }
                    .creatAcount {
                        margin-left: 4px;
                        text-decoration: $color-java-blue-10 underline;
                        color: $color-java-blue-10;
                    }
                }
            }
        }
    }
    .p-button.btn-loading {
        background: $color-java-blue-6;
        cursor: not-allowed !important;
    }
    .p-button.btn-java-blue {
        background: $color-java-blue-6;
        color: #FFFFFF;
        &:hover {
            background-color: $color-java-blue-5;
        }
    }
    .verify-email {
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 120%;
        }
        p {
            line-height: 160%;
        }
        .tip {
            font-size: 12px;
            line-height: 160%;
            color: #686B70;
        }
    }
    .backSignin {
        margin: 0 !important;
        text-decoration: #0554f2 underline;
        color: #37393e;
        line-height: 160%;
        text-align: center;
        font-weight: 600;
    }
    .invalid-error {
        width: 100%;
        margin-top: 5px;
        font-size: 12px;
        color: #F5222D;
    }
}

.police {
    &__text {
        color: $color-neutral-9;
        font-size: 12px;
        &-link {
            color: $color-java-blue-10;
            text-decoration: underline;
        }
    }
}
.login__page{
    height: 100%;
    overflow: hidden;
    position: relative;
    &-header{
        padding: 24px 32px;
    }
    .content_help{
        &-text{
            color: $color-neutral-9;
            margin-left: 6px;
            cursor: pointer;
        }
    }
    &-content{
    }
    &-circle{
     max-width: 1280px;
     max-height: 100vh;
     width: 1280px;
     height: 100vh;
        margin: 0 auto;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    &-circle-one{
        position: relative;
        height: 1200px;
        width: 1200px;
        border-radius: 50%;
        transform: translateY(50%);
        border: 1px solid #EDEEEE;
        span{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .img-one{
            animation: animate  42s linear infinite;
            &:before{
                content: '';
                width: 40px;
                height: 40px;
                background-image: url("~@/assets/img/truck.svg");
                background-repeat: no-repeat;
                top: 125px;
                background-size: contain;
                left: 183px;
                transform: rotate(-43deg);
                position: absolute;

            }
            &:after{
                content: '';
                width: 60px;
                height: 60px;
                background-image: url("~@/assets/img/ship.svg");
                background-repeat: no-repeat;
                bottom: 125px;
                background-size: contain;
                left: 175px;
                transform: rotate(-140deg);
                position: absolute;

            }
        }

    }
    &-circle-two{
        position: absolute;
        height: 1140px;
        width: 1140px;
        border-radius: 50%;
        border: 1px solid #EDEEEE;
        margin: 0 auto;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        .img-two{
            animation: animate  42s linear infinite;
            &:before{
                content: '';
                width: 35px;
                height: 35px;
                background-image: url("~@/assets/img/package.svg");
                background-repeat: no-repeat;
                bottom: 125px;
                background-size: contain;
                right: 172px;
                position: absolute;
                transform: rotate(45deg);
            }
        }
    }
    &-circle-three{
        position: absolute;
        height: 1080px;
        width: 1080px;
        border-radius: 50%;
        border: 1px solid #EDEEEE;
        margin: 0 auto;
        transform: translate(-50%,-50%);
        top: 50%;
        left: 50%;
        .img-three{
            animation: animate  42s linear infinite;
            &:before{
                content: "";
                width: 35px;
                height: 35px;
                background-image: url("~@/assets/img/airplane.svg");
                background-repeat: no-repeat;
                top: 125px;
                background-size: contain;
                right: 156px;
                position: absolute;
                transform: rotate(134deg);
            }
        }
    }
    .circle__word{
        height: 1020px;
        width: 1020px;
        background: url("~@/assets/img/word.svg");
        background-repeat: no-repeat;
        transform: translate(-50%,-50%);
        background-size: contain;
        top: 50%;
        left: 50%;
        position: absolute;
    }

    &-form{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 528px;
        height: auto;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
        border-radius: 12px;
        padding:0 40px ;
        &-header{
            padding: 32px 0;
        }
        .header-text{
            color: $color-neutral-10;
            font-weight: bold;
            font-size: 28px;
        }
        .new-member{
            .create__acount{
                color: #007E78;
            }
         padding-bottom: 100px;
        }
    }

    @keyframes animate {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
}

