$grid: (
  container: (
    width: 1104,
    gap: 12
  ),
  columns: (
    max: 12,
    gap: 24
  ),
  breakpoints: (
    default: xs,
    ms: 500,
    tablet: 768,
    md: 992,
    lg: 1104
  )
);

@function map-deep-get($map, $keys...) {
  @each $key in $keys {
    $map: map-get($map, $key);
  }
  @return $map;
}

$containerWidth: map-deep-get($grid, 'container', 'width');
$containerGap: map-deep-get($grid, 'container', 'gap');
$colMax: map-deep-get($grid, 'columns', 'max');
$colGap: map-deep-get($grid, 'columns', 'gap');

.container {
  max-width: $containerWidth * 1px;
  margin: auto;
}
.container-fluid {
  width: 100%;
}
.container,
.container-fluid {
  padding-left: $containerGap * 1px;
  padding-right: $containerGap * 1px;
  position: relative;
}

.row {
  margin-left: -($colGap / 2) * 1px;
  margin-right: -($colGap / 2) * 1px;
}

[class*="col-"] {
  padding-left: ($colGap / 2) * 1px;
  padding-right: ($colGap / 2) * 1px;
}
