//HEADER
.h {
  position: relative;
  z-index: 999;

  @media (max-width: 991px) {
    position: fixed;
    width: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
  }

  @include e('1') {
    background-color: #f5f5f5;
    padding: 1rem 0;
    font-size: 1.3rem;
  }

  @include e('1i') {

    > span {
      display: inline-block;

      + span {
        white-space: nowrap;

        @media (min-width: 551px) {
          &:before {
            content: '-';
            display: inline-block;
            padding: 0 1.5rem 0 1rem;
          }
        }

        @media (max-width: 550px) {
          display: block;
        }
      }
    }
  }

  @include e('1s') {
    text-align: right;

    > a {
      display: inline-block;
      font-weight: 700;
      white-space: nowrap;

      span {
        color: #ff0000;
      }

      + a {
        @media (min-width: 551px) {
          &:before {
            content: '|';
            display: inline-block;
            padding: 0 1.5rem 0 1rem;
          }
        }

        @media (max-width: 550px) {
          display: block;
        }
      }
    }
  }

  @include e('2') {
    padding: 15px 0;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    background-color: #fff;

    @media (max-width: 991px) {
      padding: 12px 0;
    }
  }

  @include e('l') {
    float: left;
    display: inline-block;

    @media (max-width: 991px) {
      width: 127px;
    }

    @media (max-width: 460px) {
      width: 37px;
      overflow: hidden;

      img {
        height: 40px;
        max-width: inherit;
      }
    }
  }

  @include e('bars') {
    height: 35px;
    line-height: 33px;
    font-size: 1.2rem;
    color: #0ec5a1;
    padding: 0 1rem;
    min-width: unset;
    position: absolute;
    top: 50%;
    right: 20px;
    @include transform(translateY(-50%));
    margin: 0;
    border-radius: 0.4rem;
    border: 1px solid #0ec5a1;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-family: "Product Sans",sans-serif;

    .fa {
      vertical-align: middle;
      font-size: 1.8rem;
      margin: -1px 0 0;
    }
  }

  @include e('2s') {
    margin-top: 2px;
    width: 420px;
    float: left;
    margin-left: 160px;
    position: relative;
    padding-right: 80px;
    border: 2px solid #0ec5a1;

    @media (max-width: 1199px) {
      margin-left: 90px;
    }

    @media (max-width: 1099px) {
      margin-left: 55px;
    }

    @media (max-width: 991px) {
      width: 100%;
      margin-left: 0;
      float: none;
    }

    //&:before {
    //  @media (min-width: 1200px) {
    //    content: '';
    //    display: block;
    //    width: 73px;
    //    height: 50px;
    //    background: url(../images/hgic.png) no-repeat 0 -24px;
    //    position: absolute;
    //    right: calc(100% + 8px);
    //    bottom: 5px;
    //  }
    //}

    .form-control {
      border: none;
    }
  }

  @include e('2b') {
    width: 80px;
    text-align: center;
    background-color: #0ec5a1;
    height: 42px;
    line-height: 42px;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;

    &:hover {
      background-color: rgba(14, 197, 161, 0.9);
    }
  }

  @include e('2m') {
    float: right;
    line-height: 1;

    @media (max-width: 991px) {
      margin-right: 50px;
      margin-top: 5px;
    }

    @media (max-width: 330px) {
      margin-right: 45px;
    }

    > a, > span {
        cursor: pointer;
      color: #666;
      display: inline-block;
      margin-left: 2rem;
      text-align: center;
      font-size: 1.4rem;

      @media (max-width: 991px) {
        font-size: 1.2rem;
        margin-left: 1rem;
      }

      @media (max-width: 330px) {
        margin-left: 5px;
      }

      &:hover {
        color: #0ec5a1;
      }

      .fa {
        font-size: 2.4rem;

        @media (max-width: 991px) {
          font-size: 1.4rem;
        }
      }

      span {
        display: block;
        padding-top: 10px;

        @media (max-width: 991px) {
          padding-top: 5px;
        }
      }

      b {
        color: #e2490b;
      }
    }
  }

  @include e('c') {
    display: inline-block;
    height: 40px;
    line-height: 38px;
    color: #333;
    border: 1px solid #dddddd;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    @include transition(all 0.25s);
    font-family: 'Product Sans', sans-serif;
    font-weight: 400;
    text-align: center;

    &:hover {
      background-color: #e2490b;
      color: #fff;
    }

    @media (min-width: 992px) {
      position: absolute;
      right: 20px;
      top: 50%;
      @include transform(translateY(-50%));
    }

    @media (max-width: 991px) {
      width: 100%;
    }
  }
}

//Navigation
.n {
  line-height: 1;
  z-index: 9992;
  background-color: #0ec5a1;

  @media (max-width: 991px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: #fff;
    display: none;
  }

  @media (max-width: 991px) {

    .container {
      padding: 0;
    }
  }

  @include e('h') {
    background-color: #f5f5f5;
    padding: 58px 27px 21px;
    border-bottom: 1px solid #ebebeb;
    position: relative;
  }

  @include e('x') {
    position: absolute;
    top: 23px;
    right: 27px;
    display: inline-block;
    z-index: 10;
    color: #666;

    &:after {
      content: 'Close';
      display: inline-block;
      position: absolute;
      right: calc(100% + 6px);
      top: 50%;
      @include transform(translateY(-50%));
      font-size: 1.2rem;
      color: #999;
    }
  }

  @include e('1') {
      position: relative;

    @media (min-width: 992px) {
      float: left;
    }

    > li {

      @media (min-width: 992px) {
        float: left;
      }

      @media (max-width: 991px) {
        border-bottom: 1px solid #ebebeb;
      }

      + li {

        @media (min-width: 992px) {
          margin-left: 35px;
        }
      }

      a {
        color: #fff;
        display: block;
        font-size: 1.6rem;

        .fa {
          font-size: 1.3rem;
          margin-left: 2px;
        }
      }

      > a {
        padding: 22px 0;
        position: relative;

        @media (max-width: 991px) {
          padding: 15px 27px;
          color: #0ec5a1;

          .fa {
            position: absolute;
            right: 21px;
            top: 50%;
            @include transform(translateY(-50%));
            color: #999;
          }

          &.active .fa:before {
            content: '\f0d8';
          }
        }

        &:after {

          @media (min-width: 992px) {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            position: absolute;
            left: 0;
            bottom: 0;
          }
        }
      }

      &.active a:after {
        background-color: #e9e9e9;
      }

      &:hover {

        > a:after {
          background-color: #e9e9e9;
        }

        .n_s {
          opacity: 1;
          visibility: visible;
          top: 100%;
        }
      }
    }
  }

  @include e('s') {

    @media (min-width: 992px) {
      background-color: #0ec5a1;
      @include box-shadow(0,0,3px,rgba(24,22,24,0.3));
      position: absolute;
      left: 0;
      top: 90%;
      padding: 30px 20px 15px;
      opacity: 0;
      visibility: hidden;
      @include transition(all 0.25s);
    }

    @media (max-width: 991px) {
      background-color: rgba(233, 233, 233, 0.3);
      display: none;
        padding: 15px 27px 0;
    }
  }

    @include e('sl') {

        > li {
            float: left;
            width: 20%;
            margin-bottom: 15px;

            @media (max-width: 1100px) {
                width: 25%;
            }

            @media (max-width: 991px) {
                width: 33.33333%;
            }

            @media (max-width: 600px) {
                width: 50%;
            }

            @media (max-width: 380px) {
                width: 100%;
            }

            a {
                display: inline-block;
                color: #fff;
                font-size: 1.5rem;

                &:hover {
                    text-decoration: underline;
                }

                @media (max-width: 991px) {
                    color: #0ec5a1;
                    font-size: 1.4rem;
                }
            }
        }
    }
}

