$sidebar-width:120px;
$menubar-height:510px;
.site-navbar {
    position: fixed;
    z-index: 5;
    transition: width .3s;
}

.site-menu {
    padding: 0 10px;
    .open-right {
        position: absolute;
        left: calc(#{$sidebar-width} - 20px);
        padding-left: 15px;
        top: 0;
        cursor: default;
    }
    &-sub {
        max-width: none;
        margin-right: 30px;
        background: #0F1750;
        border-radius: 4px;
        display: none;
        padding: 13px;
        width: fit-content;
        cursor: default;
        z-index: 1000;
        &.has-sub {
            display: inline-block;
        }
        &:after {
            position: absolute;
            display: inline-block;
            border-bottom-color: rgba(0, 0, 0, .2);
            content: "";
            top: 20px;
            left: 10px;
            border-top: 5px solid transparent;
            border-right: 5px solid #0F1750;
            border-bottom: 5px solid transparent;
        }
        &-item {
            text-align: left;
            width: fit-content;
            margin: 4px 15px 4px 0;
        }
        &-title {
            color: #FFFFFF;
            font-size: 14px;
            transition: .3s;
            font-weight: 500;
            line-height: 22px;
            .hover {
                display: none;
            }
            &:hover,
            &.active {
                color: #02BABA;
                .default {
                    display: none;
                }
                .hover {
                    display: inline-block;
                }
            }
        }
    }
}

.site-menubar {
    position: fixed;
    width: $sidebar-width;
    background: #FFFFFF;
    transition: width 0.3s ease;
    height: 100%;
    z-index: 5;
    background: #141F65;
    &-logo {
        margin-top: 20px;
        margin-bottom: 5.6vh;
        padding: 0 10px;
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &-body {
        height: max-content;
    }
    &.active-collap {
        .menubar-icon {
            transform: rotate(180deg);
            padding-bottom: 20px;
            padding-top: 0;
            border-top: unset;
        }
        .site-menu-title {
            display: none;
        }
        width: calc( #{$sidebar-width} / 2);
        .site-menubar-footer,
        .site-menubar-claim {
            width: calc( #{$sidebar-width} / 2);
        }
        .site-menubar-claim {
            justify-content: center;
            .claim {
                position: absolute;
                top: -20px;
                left: calc(100% + 5px);
                z-index: 3;
                background: #DDF2F2;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                padding: 8px 12px;
                opacity: 0;
                border-radius: 4px;
                font-size: 12px;
                font-weight: 500;
                white-space: nowrap;
                pointer-events: none;
                transition: 0s;
                color: #141F65;
                border-radius: 4px;
                font-family: inherit;
                &:after {
                    position: absolute;
                    display: inline-block;
                    border-bottom-color: rgba(0, 0, 0, 0.2);
                    content: "";
                    top: 50%;
                    transform: translateY(-50%);
                    left: -4px;
                    border-top: 5px solid transparent;
                    border-right: 5px solid #DDF2F2;
                    border-bottom: 5px solid transparent;
                }
            }
            &:hover {
                .claim {
                    opacity: 1;
                    pointer-events: auto;
                    transition: all 0.4s ease;
                    top: 50%;
                    transform: translateY(-50%);
                }
                ;
            }
        }
        .item-link {
            margin: 16px 0;
            padding: 3px;
            border-radius: 8px !important;
        }
        .open-right {
            top: -80px;
            left: calc(120px - 70px);
        }
        .p-tooltip.is-dark:after {
            white-space: break-spaces;
            width: min-content;
        }
        .site-menu-item {
            &:hover {
                .tooltip {
                    opacity: 1;
                    pointer-events: auto;
                    transition: all 0.4s ease;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        .open-right {
            top: 0;
            .site-menu-sub {
                &:after {
                    top: 20px;
                    bottom: unset;
                }
                &:before {
                    position: absolute;
                    content: '';
                    width: 30px;
                    top: 0;
                    left: -10px;
                    height: 100%;
                }
            }
        }
    }
    .site-menu-sub-title {
        .default {}
        span {
            margin-left: .5rem;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
        }
    }
}

.site-menu-item {
    position: relative;
    .item-link {
        padding: 16px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;
        border: 0;
        position: relative;
        transition: all 0.3s ease;
    }
    .tooltip {
        position: absolute;
        top: -20px;
        left: calc(100% + 15px);
        z-index: 3;
        background: #DDF2F2;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        padding: 6px 12px;
        border-radius: 4px;
        font-size: 12px;
        font-weight: 500;
        opacity: 0;
        white-space: nowrap;
        height: 32px;
        pointer-events: none;
        transition: 0s;
        color: #141F65;
        border-radius: 4px;
        font-family: inherit;
        &:after {
            position: absolute;
            display: inline-block;
            border-bottom-color: rgba(0, 0, 0, 0.2);
            content: "";
            top: 50%;
            transform: translateY(-50%);
            left: -4px;
            border-top: 5px solid transparent;
            border-right: 5px solid #DDF2F2;
            border-bottom: 5px solid transparent;
        }
    }
    .site-menu-icon {
        &.active {
            display: none;
        }
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .site-menu-title {
        color: #EDEEEE;
        font-weight: 500;
    }
    &:hover,
    &.active {
        .site-menu-title {
            color: #02BABA;
        }
        .site-menu-icon {
            &.default {
                display: none;
            }
            &.active {
                display: block;
            }
        }
        .item-link {
            background: #0F1750;
            border-radius: 16px;
        }
    }
}

.site-menubar-claim {
    padding: 0 8px;
    position: fixed;
    width: 120px;
    bottom: 10%;
    .site-menu {
        display: flex;
        cursor: pointer;
        padding: 8px;
        &-active {
            border: 1px solid #A9E0DE;
            box-sizing: border-box;
            border-radius: 8px;
            .claim {
                color: #A9E0DE;
            }
        }
    }
    display: flex;
    .claim {
        letter-spacing: -1px;
        line-height: 16px;
        margin-left: 2px;
        font-weight: 500;
        font-size: 12px;
        color: #fff;
    }
}

.site-menubar-hide {
    .package-user {
        display: none;
    }
    .site-navbar {
        width: calc(100% - 60px);
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.site-menubar-footer {
    padding: 0 8px;
    text-align: center;
    position: fixed;
    width: $sidebar-width;
    bottom: 1%;
    .menubar-icon {
        cursor: pointer;
    }
    .menubar-icon {
        transition: 0.3s;
        padding-top: 20px;
    }
    .site-menubar-hr {
        background: rgba(221, 242, 242, 0.16);
    }
    .p-tooltip.is-dark:after {
        color: #141F65;
        background: #DDF2F2;
    }
    .p-tooltip.is-top.is-dark:before {
        border-top: 5px solid #DDF2F2;
    }
    .p-tooltip.is-top:before, .p-tooltip.is-top:after{
        left: unset;
    }
}