// Margin Bottom
.mb-4 {
    margin-bottom: 4px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mb-80 {
    margin-bottom: 80px;
}

// Margin Top
.mt-8 {
    margin-top: 8px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-24 {
    margin-top: 24px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-70 {
    margin-top: 70px;
}

.mt-80 {
    margin-top: 80px;
}

.mt-80 {
    margin-top: 80px;
}

.ml-7 {
    margin-left: 7px;
}

.ml-10 {
    margin-left: 10px;
}

.ml-18 {
    margin-left: 18px;
}

.ml-24 {
    margin-left: 24px;
}

.ml-20 {
    margin-left: 20px;
}