// Margin Bottom
.mb-4 {
    margin-bottom: 4px!important;
}

.mb-8 {
    margin-bottom: 8px!important;
}

.mb-10 {
    margin-bottom: 10px!important;
}

.mb-16 {
    margin-bottom: 16px!important;
}

.mb-20 {
    margin-bottom: 20px!important;
}

.mb-24 {
    margin-bottom: 24px!important;
}

.mb-32 {
    margin-bottom: 32px!important;
}

.mb-40 {
    margin-bottom: 40px!important;
}

.mb-60 {
    margin-bottom: 60px!important;
}

.mb-80 {
    margin-bottom: 80px!important;
}

// Margin Top
.mt-8 {
    margin-top: 8px!important;
}

.mt-20 {
    margin-top: 20px!important;
}

.mt-24 {
    margin-top: 24px!important;
}

.mt-40 {
    margin-top: 40px!important;
}

.mt-70 {
    margin-top: 70px!important;
}

.mt-80 {
    margin-top: 80px!important;
}

.mt-80 {
    margin-top: 80px!important;
}

.ml-7 {
    margin-left: 7px!important;
}

.ml-10 {
    margin-left: 10px!important;
}

.ml-18 {
    margin-left: 18px!important;
}

.ml-24 {
    margin-left: 24px!important;
}

.ml-20 {
    margin-left: 20px!important;
}