.modal-ticket{
  .title{
    margin-left: unset;
  }
  .close{
    opacity: unset;
    padding-top: 1.3rem;
  }
  .remove-file{
    cursor: pointer;
  }
  .multiselect__tags{
    min-height: 48px;
  }
  textarea::-webkit-input-placeholder {
    color: #B0B3B9;
    font-size: 14px;
  }
  .modal-body{
    padding: 10px;
  }

  .card{
    border: none;
    .card-block{
      .detail{

        &:nth-child(2){
          margin-top: 20px;
        }
        &:nth-child(3){
          margin-top: 20px;
        }
        &:nth-child(4){
          margin-top: 20px;
        }
        &:nth-child(5){
          margin-top: 20px;
        }
        &:nth-child(6){
          margin-top: 20px;
        }
        label{
          margin-bottom: 4px;
          font-weight: bold;
          font-size: 14px;
          line-height: 160%;
        }
        .content{
          resize: none;
          width: 100%;
          min-height: 48px;
          height: 100px;
          border: none;
          background: #F4F5F6;
          border-radius: 4px;
          color: #37393E;
          padding: 13px 0 0 16px;
            &.required{
              border: 1px solid red;
            }
          &.require{
            border: 1px solid red;
          }
        }

        .design-error-lg{
          width: 100%;
          height: auto;
          left: 632px;
          top: 781px;
          padding: 18px;
          line-height: 22.4px;
          background: rgba(255, 233, 232, 0.5);
          border: 1px solid rgba(219, 24, 2, 0.5);
          box-sizing: border-box;
          border-radius: 8px;
          margin-bottom: 16px;
          .design-error-title{
            span{
              font-weight: 600;
              margin-left: 7px;;
            }
          }
          .design-error-list{
            list-style: disc;
            margin-left: 44px;
          }
        }
      }
    }
    .file-uploader{

      .el-upload-dragger{
        height: 50px;
        .el-upload__text{
          line-height: 50px;
          font-weight: 500;
        }
      }
      .el-before-upload__filename{
        font-size: 12px;
      }

    }
    .rule{
      font-size: 12px;
      color: #B0B3B9;
    }

  }
  .modal-footer{
    justify-content: flex-end !important;
  }
  .multiselect {
    .multiselect__input{
      margin-top: unset;
      margin-bottom: unset;
      padding: 0;
    }
    .multiselect__tags{
      padding: 12px 40px 0 16px;
      background: #F4F5F6;
      color: #B0B3B9;
      border: none;
      .multiselect__single{
        background: none;
        color: #37393E;
      }
    }
    .multiselect__select{
      height: 100%;
    }

    &.required{
      .multiselect__tags{
        border: 1px solid red;
      }
    }
    &.multiselect--active{
      .multiselect__content-wrapper{
        border: 1px solid;
      }
      .multiselect__tags{
        background: white;
        border: 1px solid black;
      }
    }
  }
}
// CSS Srisp Chat
.crisp-client .cc-kv6t .cc-1xry {
  .cc-unoo{
    z-index: 1!important;
    bottom: 14px!important;
    left: 14px!important;
    width: 60px !important;
    height: 60px !important;
  }
  .cc-ge4v{
    position: fixed!important;
    left: 24px!important;

  }
  .cc-7doi{
    &:after{
      content: 'Chat with Lionnix support';
      position: absolute !important;
      left: 106% !important;
      width: 120px !important;
      font-size: 14px !important;
      font-weight: 500 !important;
      color: #37393E !important;
      top: 14px !important;
      font-family: 'Montserrat';
    }
  }

}